In [47]:
import pandas as pd
from datetime import datetime, timedelta

In [48]:
regionalporträts_2020_kennzahlen_aller_gemeinden ='https://www.bfs.admin.ch/bfsstatic/dam/assets/11587763/master'

In [49]:
regionalporträts_2020_kennzahlen_aller_gemeinden

'https://www.bfs.admin.ch/bfsstatic/dam/assets/11587763/master'

In [50]:
data = pd.read_excel('https://www.bfs.admin.ch/bfsstatic/dam/assets/11587763/master')
data.loc[4].values

array(['Gemeindecode', 'Gemeindename', 'Einwohner', 'Veränderung in %',
       'Bevölkerungs-dichte pro km²', 'Ausländer in %', '0-19 Jahre',
       '20-64 Jahre', '65 Jahre und mehr', 'Rohe Heiratssziffer',
       'Rohe Scheidungsziffer', 'Rohe Geburtenziffer',
       'Rohe Sterbeziffer', 'Anzahl Privathaushalte',
       'Durchschnittliche Haushaltsgrösse in Personen',
       'Gesamtfläche in km²', 'Siedlungsfläche in %', 'Veränderung in ha',
       'Landwirtschafts-fläche in %', 'Veränderung in ha',
       'Wald und Gehölze in %', 'Unproduktive Fläche in %',
       'Beschäftigte total', 'im 1. Sektor', 'im 2. Sektor',
       'im 3. Sektor', 'Arbeitsstätten total', 'im 1. Sektor',
       'im 2. Sektor', 'im 3. Sektor', 'Leerwohnungs-ziffer',
       'Neu gebaute Wohnungen pro 1000 Einwohner', 'Sozialhilfequote 3)',
       'FDP 4)', 'CVP', 'SP', 'SVP', 'EVP/CSP', 'GLP', 'BDP', 'PdA/Sol.',
       'GPS', 'Kleine Rechtsparteien'], dtype=object)

In [51]:
df = pd.DataFrame(data)
df

,Regionalporträts 2020: Gemeinden - Kennzahlen,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,T21.3.1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Bevölkerung,NaN,NaN,NaN,Altersverteilung in %,NaN,NaN,Bevölkerungsbewegung (in ‰),...,Wähleranteile ausgewählter Parteien in % (Nati...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Gemeindecode,Gemeindename,Einwohner,Veränderung in %,Bevölkerungs-dichte pro km²,Ausländer in %,0-19 Jahre,20-64 Jahre,65 Jahre und mehr,Rohe Heiratssziffer,...,FDP 4),CVP,SP,SVP,EVP/CSP,GLP,BDP,PdA/Sol.,GPS,Kleine Rechtsparteien
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2227,"Auskunft: Statistikauskunft, 058 463 60 11, in...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2229,Bundesamt für Statistik,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2230,© BFS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
df = df.dropna()
df

,Regionalporträts 2020: Gemeinden - Kennzahlen,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,T21.3.1
4,Gemeindecode,Gemeindename,Einwohner,Veränderung in %,Bevölkerungs-dichte pro km²,Ausländer in %,0-19 Jahre,20-64 Jahre,65 Jahre und mehr,Rohe Heiratssziffer,...,FDP 4),CVP,SP,SVP,EVP/CSP,GLP,BDP,PdA/Sol.,GPS,Kleine Rechtsparteien
8,1,Aeugst am Albis,1982,8.662281,250.5689,13.874874,19.677094,62.764884,17.558022,4.588325,...,16.421045,2.497974,11.565102,30.380959,3.22747,14.317294,1.263724,0.16211,15.050475,3.820647
9,2,Affoltern am Albis,12229,10.260572,1154.76865,28.62867,20.508627,61.329626,18.161747,4.676923,...,13.385437,4.535341,14.645255,30.30692,6.618556,12.666629,2.001445,0.198718,12.590564,1.555518
10,3,Bonstetten,5548,7.540221,746.702557,16.005768,23.666186,60.310022,16.023792,4.159132,...,15.354984,3.867961,16.742891,26.116313,4.194018,16.237935,1.28403,0.176013,12.368531,1.385022
11,4,Hausen am Albis,3701,10.14881,272.132353,15.617401,21.804918,60.686301,17.508781,4.887984,...,11.135163,3.934551,13.711509,33.18478,4.059761,12.416969,1.610747,0.19312,16.744127,1.610747
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2205,6806,Vendlincourt,540,-1.639344,59.016393,7.037037,18.888889,56.296296,24.814815,1.823154,...,19.069767,22.790698,17.906977,21.162791,9.767442,*,*,*,9.302326,*
2206,6807,Basse-Allaine,1230,-5.891354,53.385417,8.211382,21.869919,52.195122,25.934959,3.276003,...,13.757962,40.127389,23.566879,11.719745,3.821656,*,*,*,7.006369,*
2207,6808,Clos du Doubs,1286,1.982554,20.825911,8.320373,18.895801,56.143079,24.96112,3.862495,...,4.482391,33.297759,21.558164,14.300961,10.245464,*,*,*,16.115261,*
2208,6809,Haute-Ajoie,1095,-5.194805,26.752993,7.671233,18.26484,56.347032,25.388128,3.638017,...,8.390023,37.868481,19.387755,18.707483,4.195011,*,*,*,11.451247,*
2209,6810,La Baroche,1162,-2.270816,37.399421,6.282272,21.51463,54.905336,23.580034,1.710864,...,13.773796,27.659574,16.349384,20.268757,9.182531,*,*,*,12.765957,*

In [53]:
df.columns = data.loc[4].values
df = df.iloc[1:]

In [54]:
df

,Gemeindecode,Gemeindename,Einwohner,Veränderung in %,Bevölkerungs-dichte pro km²,Ausländer in %,0-19 Jahre,20-64 Jahre,65 Jahre und mehr,Rohe Heiratssziffer,...,FDP 4),CVP,SP,SVP,EVP/CSP,GLP,BDP,PdA/Sol.,GPS,Kleine Rechtsparteien
8,1,Aeugst am Albis,1982,8.662281,250.5689,13.874874,19.677094,62.764884,17.558022,4.588325,...,16.421045,2.497974,11.565102,30.380959,3.22747,14.317294,1.263724,0.16211,15.050475,3.820647
9,2,Affoltern am Albis,12229,10.260572,1154.76865,28.62867,20.508627,61.329626,18.161747,4.676923,...,13.385437,4.535341,14.645255,30.30692,6.618556,12.666629,2.001445,0.198718,12.590564,1.555518
10,3,Bonstetten,5548,7.540221,746.702557,16.005768,23.666186,60.310022,16.023792,4.159132,...,15.354984,3.867961,16.742891,26.116313,4.194018,16.237935,1.28403,0.176013,12.368531,1.385022
11,4,Hausen am Albis,3701,10.14881,272.132353,15.617401,21.804918,60.686301,17.508781,4.887984,...,11.135163,3.934551,13.711509,33.18478,4.059761,12.416969,1.610747,0.19312,16.744127,1.610747
12,5,Hedingen,3734,9.501466,571.822358,15.854312,21.772898,61.756829,16.470273,3.500269,...,13.990898,3.87366,16.738323,26.601791,3.726851,16.415344,1.881252,0.182463,12.348734,2.170676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2205,6806,Vendlincourt,540,-1.639344,59.016393,7.037037,18.888889,56.296296,24.814815,1.823154,...,19.069767,22.790698,17.906977,21.162791,9.767442,*,*,*,9.302326,*
2206,6807,Basse-Allaine,1230,-5.891354,53.385417,8.211382,21.869919,52.195122,25.934959,3.276003,...,13.757962,40.127389,23.566879,11.719745,3.821656,*,*,*,7.006369,*
2207,6808,Clos du Doubs,1286,1.982554,20.825911,8.320373,18.895801,56.143079,24.96112,3.862495,...,4.482391,33.297759,21.558164,14.300961,10.245464,*,*,*,16.115261,*
2208,6809,Haute-Ajoie,1095,-5.194805,26.752993,7.671233,18.26484,56.347032,25.388128,3.638017,...,8.390023,37.868481,19.387755,18.707483,4.195011,*,*,*,11.451247,*
2209,6810,La Baroche,1162,-2.270816,37.399421,6.282272,21.51463,54.905336,23.580034,1.710864,...,13.773796,27.659574,16.349384,20.268757,9.182531,*,*,*,12.765957,*

In [55]:
df_population_for_bfsNr = df[['Gemeindecode', 'Gemeindename','Einwohner']]
df_population_for_bfsNr.rename(columns={'Gemeindecode':'BFS_Nr'}, inplace=True)
df_population_for_bfsNr.reset_index(inplace=True)

df_population_for_bfsNr = df_population_for_bfsNr.drop(['index'], axis=1)

df_population_for_bfsNr.set_index('BFS_Nr',inplace=True)

/Users/marco/opt/miniconda3/envs/WODSS/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [56]:
df_population_for_bfsNr.loc[2333]

Gemeindename    Remaufens
Einwohner            1140
Name: 2333, dtype: object

In [57]:
df_population_for_bfsNr

              Gemeindename Einwohner
BFS_Nr
1          Aeugst am Albis      1982
2       Affoltern am Albis     12229
3               Bonstetten      5548
4          Hausen am Albis      3701
5                 Hedingen      3734
...                    ...       ...
6806          Vendlincourt       540
6807         Basse-Allaine      1230
6808         Clos du Doubs      1286
6809           Haute-Ajoie      1095
6810            La Baroche      1162

[2202 rows x 2 columns]

In [58]:
import sys
sys.path.append('../')
import modules.process_incidence.fetch_corona_data as fcd

In [59]:
now = datetime.now()
now = now.replace(hour=0, minute=0, second=0, microsecond=0)

df_cases = fcd.get_corona_cases(datetime(2020, 2, 26, 0, 0), now)
df_cases

Fetching cases from API from '2020-02-26 00:00:00' to '2020-08-10 00:00:00'
Fetching cases from API from '2020-08-10 00:00:00' to '2021-01-23 00:00:00'
Fetching cases from API from '2021-01-23 00:00:00' to '2021-04-05 00:00:00'

         Datum                       Region  Neue_Faelle
0   2020-02-26                       Albula            0
1   2020-02-26                      Bernina            0
2   2020-02-26  Engiadina Bassa/Val Müstair            0
3   2020-02-26                      Imboden            0
4   2020-02-26                    Landquart            0
..         ...                          ...          ...
859 2021-04-04                      Plessur            3
860 2021-04-04              Prättigau/Davos            5
861 2021-04-04                     Surselva            0
862 2021-04-04                      Viamala            2
863 2021-04-04                ohne Wohnsitz            4

[4848 rows x 3 columns]

In [60]:
import fetch_municipalities as fmp

In [61]:
df_municipalities = fmp.get_municipalities_df()
df_municipalities

              Gemeindename        Bezirksname Kanton
BFS_Nr
3542          Albula/Alvra             Albula     GR
3701                Andeer            Viamala     GR
3921                 Arosa            Plessur     GR
3681                 Avers            Viamala     GR
3781                 Bever             Maloja     GR
...                    ...                ...    ...
3714             Rheinwald            Viamala     GR
3785    La Punt Chamues-ch             Maloja     GR
3901                  Chur            Plessur     GR
3871              Klosters  Prättigau / Davos     GR
3715    Muntogna da Schons            Viamala     GR

[101 rows x 3 columns]

In [62]:
df_all = pd.merge(df_population_for_bfsNr, df_municipalities , how='inner', left_on='BFS_Nr', right_on='BFS_Nr')
# df_all = df.loc[:,~df.columns.duplicated()]
df_all

           Gemeindename_x Einwohner     Gemeindename_y Bezirksname Kanton
BFS_Nr
3506          Vaz/Obervaz      2780        Vaz/Obervaz      Albula     GR
3513         Lantsch/Lenz       535       Lantsch/Lenz      Albula     GR
3514       Schmitten (GR)       234     Schmitten (GR)      Albula     GR
3542         Albula/Alvra      1310       Albula/Alvra      Albula     GR
3543               Surses      2356             Surses      Albula     GR
...                   ...       ...                ...         ...    ...
3983      Medel (Lucmagn)       362    Medel (Lucmagn)    Surselva     GR
3985              Sumvitg      1158            Sumvitg    Surselva     GR
3986             Tujetsch      1238           Tujetsch    Surselva     GR
3987                 Trun      1170               Trun    Surselva     GR
3988    Obersaxen Mundaun      1188  Obersaxen Mundaun    Surselva     GR

[100 rows x 5 columns]

In [63]:
df_cases

         Datum                       Region  Neue_Faelle
0   2020-02-26                       Albula            0
1   2020-02-26                      Bernina            0
2   2020-02-26  Engiadina Bassa/Val Müstair            0
3   2020-02-26                      Imboden            0
4   2020-02-26                    Landquart            0
..         ...                          ...          ...
859 2021-04-04                      Plessur            3
860 2021-04-04              Prättigau/Davos            5
861 2021-04-04                     Surselva            0
862 2021-04-04                      Viamala            2
863 2021-04-04                ohne Wohnsitz            4

[4848 rows x 3 columns]

## Mapping von Region auf Bezirksnamen

In [64]:
set_bezirksnamen = set(sorted(df_municipalities['Bezirksname'])) # From Municipality Stammdaten
print(set_bezirksnamen)
print(len(set_bezirksnamen))

{'Maloja', 'Imboden', 'Landquart', 'Viamala', 'Albula', 'Engiadina B./Val Müstair', 'Moesa', 'Plessur', 'Surselva', 'Bernina', 'Prättigau / Davos'}
11

In [65]:
set_regionen = set(sorted(df_cases['Region'])) # From Cases, i.e. the region a case belongs to
print(set_regionen)
print(len(set_regionen))

{'Maloja', 'Imboden', 'Landquart', 'Viamala', 'Albula', 'Engiadina Bassa/Val Müstair', 'ohne Wohnsitz', 'Prättigau/Davos', 'Moesa', 'Plessur', 'Surselva', 'Bernina'}
12

### Was machen wir mit 'ohne Wohnsitz'? 
Um die Kantonszahlen nicht zu verfälschen, müssten sie evtl. auch verteilt werden auf die Bezirke...

In [66]:
# Region (from Cases): Bezirksname (from Municipalities)
dict_bezirks_mapping = {'Albula': 'Albula',
 'Bernina': 'Bernina',
 'Engiadina Bassa/Val Müstair': 'Engiadina B./Val Müstair',
 'Imboden': 'Imboden',
 'Landquart': 'Landquart',
 'Maloja': 'Maloja',
 'Moesa': 'Moesa',
 'Plessur': 'Plessur',
 'Prättigau/Davos': 'Prättigau / Davos',
 'Surselva': 'Surselva',
 'Viamala': 'Viamala'}

Neue Spalte 'Bezirksname' welche anhand 'Region' gemapped wurde:

In [67]:
df_cases['Bezirksname'] = df_cases['Region'].apply(lambda region: dict_bezirks_mapping.get(region))
df_cases

,Datum,Region,Neue_Faelle,Bezirksname
0,2020-02-26,Albula,0,Albula
1,2020-02-26,Bernina,0,Bernina
2,2020-02-26,Engiadina Bassa/Val Müstair,0,Engiadina B./Val Müstair
3,2020-02-26,Imboden,0,Imboden
4,2020-02-26,Landquart,0,Landquart
...,...,...,...,...
859,2021-04-04,Plessur,3,Plessur
860,2021-04-04,Prättigau/Davos,5,Prättigau / Davos
861,2021-04-04,Surselva,0,Surselva
862,2021-04-04,Viamala,2,Viamala
863,2021-04-04,ohne Wohnsitz,4,None

 Nicht gefundene Einträge (z.B. 'ohne Wohnsitz') werden mit None abgefüllt:

In [68]:
df_cases[df_cases['Bezirksname'].isnull()]

         Datum         Region  Neue_Faelle Bezirksname
11  2020-02-26  ohne Wohnsitz            2        None
23  2020-02-27  ohne Wohnsitz            0        None
35  2020-02-28  ohne Wohnsitz            4        None
47  2020-02-29  ohne Wohnsitz            0        None
59  2020-03-01  ohne Wohnsitz            0        None
..         ...            ...          ...         ...
815 2021-03-31  ohne Wohnsitz            5        None
827 2021-04-01  ohne Wohnsitz            5        None
839 2021-04-02  ohne Wohnsitz            5        None
851 2021-04-03  ohne Wohnsitz            3        None
863 2021-04-04  ohne Wohnsitz            4        None

[404 rows x 4 columns]