In [3]:
import pandas as pd
from datetime import datetime, timedelta

## Fetch corona cases of GR

In [4]:
import sys
sys.path.append('../')
import modules.process_incidence.fetch_corona_data as fcd

In [5]:
now = datetime.now()
now = now.replace(hour=0, minute=0, second=0, microsecond=0)

df_cases = fcd.get_corona_cases(datetime(2020, 2, 26, 0, 0), now)
df_cases

Fetching cases from API from '2020-02-26 00:00:00' to '2020-08-10 00:00:00'
Fetching cases from API from '2020-08-10 00:00:00' to '2021-01-23 00:00:00'
Fetching cases from API from '2021-01-23 00:00:00' to '2021-04-05 00:00:00'

         Datum                       Region  Neue_Faelle
0   2020-02-26                       Albula            0
1   2020-02-26                      Bernina            0
2   2020-02-26  Engiadina Bassa/Val Müstair            0
3   2020-02-26                      Imboden            0
4   2020-02-26                    Landquart            0
..         ...                          ...          ...
859 2021-04-04                      Plessur            3
860 2021-04-04              Prättigau/Davos            5
861 2021-04-04                     Surselva            0
862 2021-04-04                      Viamala            2
863 2021-04-04                ohne Wohnsitz            4

[4848 rows x 3 columns]

## Fetch all municipalities of GR
### by Bezirk

In [6]:
import sys
sys.path.append('../')
import modules.process_municipality.fetch_municipalities as fmp

In [7]:
df_municipalities = fmp.get_municipalities_df()
df_municipalities

              Gemeindename        Bezirksname Kanton
BFS_Nr
3542          Albula/Alvra             Albula     GR
3701                Andeer            Viamala     GR
3921                 Arosa            Plessur     GR
3681                 Avers            Viamala     GR
3781                 Bever             Maloja     GR
...                    ...                ...    ...
3714             Rheinwald            Viamala     GR
3785    La Punt Chamues-ch             Maloja     GR
3901                  Chur            Plessur     GR
3871              Klosters  Prättigau / Davos     GR
3715    Muntogna da Schons            Viamala     GR

[101 rows x 3 columns]

## Fetch metadata of all municipalities in GR 
### i.e. Einwohner and Fläche

In [8]:
import sys
sys.path.append('../')
import modules.process_municipality.fetch_cantons_metadata as fcm

In [9]:
df_population_for_bfsNr = fcm.get_cantons_metadata_df()
df_population_for_bfsNr

              Gemeindename Einwohner Gesamtflaeche_in_km2
BFS_Nr
1          Aeugst am Albis      1982                 7.91
2       Affoltern am Albis     12229                10.59
3               Bonstetten      5548                 7.43
4          Hausen am Albis      3701                 13.6
5                 Hedingen      3734                 6.53
...                    ...       ...                  ...
6806          Vendlincourt       540                 9.15
6807         Basse-Allaine      1230                23.04
6808         Clos du Doubs      1286                61.75
6809           Haute-Ajoie      1095                40.93
6810            La Baroche      1162                31.07

[2202 rows x 3 columns]

## Combine the two municipality datasets
### i.e. join metadata and Bezirk information

In [10]:
df_all = pd.merge(df_population_for_bfsNr, df_municipalities , how='inner', left_on='BFS_Nr', right_on='BFS_Nr')
# df_all = df.loc[:,~df.columns.duplicated()]
df_all.rename(columns={'Gemeindename_y': 'Gemeindename'}, inplace=True)
df_all.drop('Gemeindename_x', axis=1, inplace=True)
dict_bezirk_flaechen = dict(df_all.groupby(['Bezirksname'])['Gesamtflaeche_in_km2'].sum())

df_all['Anteil_Flaeche_in_Region'] = df_all.apply(lambda row: row['Gesamtflaeche_in_km2']/dict_bezirk_flaechen[row['Bezirksname']], axis=1)
#display(df_all.groupby(['Bezirksname'])['Anteil_Flaeche_in_Region'].sum())
df_all

,Einwohner,Gesamtflaeche_in_km2,Gemeindename,Bezirksname,Kanton,Anteil_Flaeche_in_Region
BFS_Nr,,,,,,
3506,2780,42.51,Vaz/Obervaz,Albula,GR,0.062194
3513,535,21.81,Lantsch/Lenz,Albula,GR,0.031909
3514,234,11.35,Schmitten (GR),Albula,GR,0.016605
3542,1310,93.93,Albula/Alvra,Albula,GR,0.137423
3543,2356,323.77,Surses,Albula,GR,0.473687
...,...,...,...,...,...,...
3983,362,136.22,Medel (Lucmagn),Surselva,GR,0.099173
3985,1158,101.88,Sumvitg,Surselva,GR,0.074172
3986,1238,133.91,Tujetsch,Surselva,GR,0.097491
3987,1170,51.9,Trun,Surselva,GR,0.037785
3988,1188,70.36,Obersaxen Mundaun,Surselva,GR,0.051225

## Mapping von Region auf Bezirksnamen

In [11]:
set_bezirksnamen = set(sorted(df_municipalities['Bezirksname'])) # From Municipality Stammdaten
print(set_bezirksnamen)
print(len(set_bezirksnamen))

{'Engiadina B./Val Müstair', 'Imboden', 'Landquart', 'Surselva', 'Moesa', 'Bernina', 'Prättigau / Davos', 'Maloja', 'Albula', 'Plessur', 'Viamala'}
11

In [12]:
set_regionen = set(sorted(df_cases['Region'])) # From Cases, i.e. the region a case belongs to
print(set_regionen)
print(len(set_regionen))

{'ohne Wohnsitz', 'Imboden', 'Landquart', 'Prättigau/Davos', 'Surselva', 'Moesa', 'Bernina', 'Engiadina Bassa/Val Müstair', 'Maloja', 'Albula', 'Plessur', 'Viamala'}
12

The following dictionary is the mapping for the names of the Bezirke from the two different datasources:

In [13]:
# Region (from Cases): Bezirksname (from Municipalities)
dict_bezirks_mapping = {'Albula': 'Albula',
 'Bernina': 'Bernina',
 'Engiadina Bassa/Val Müstair': 'Engiadina B./Val Müstair',
 'Imboden': 'Imboden',
 'Landquart': 'Landquart',
 'Maloja': 'Maloja',
 'Moesa': 'Moesa',
 'Plessur': 'Plessur',
 'Prättigau/Davos': 'Prättigau / Davos',
 'Surselva': 'Surselva',
 'Viamala': 'Viamala'}

Neue Spalte 'Bezirksname' welche anhand 'Region' gemapped wurde:

In [14]:
df_cases['Bezirksname'] = df_cases['Region'].apply(lambda region: dict_bezirks_mapping.get(region))
df_cases

,Datum,Region,Neue_Faelle,Bezirksname
0,2020-02-26,Albula,0,Albula
1,2020-02-26,Bernina,0,Bernina
2,2020-02-26,Engiadina Bassa/Val Müstair,0,Engiadina B./Val Müstair
3,2020-02-26,Imboden,0,Imboden
4,2020-02-26,Landquart,0,Landquart
...,...,...,...,...
859,2021-04-04,Plessur,3,Plessur
860,2021-04-04,Prättigau/Davos,5,Prättigau / Davos
861,2021-04-04,Surselva,0,Surselva
862,2021-04-04,Viamala,2,Viamala
863,2021-04-04,ohne Wohnsitz,4,None

 Nicht gefundene Einträge (z.B. 'ohne Wohnsitz') werden mit None abgefüllt und in einem späteren Schritt mit Kombination aus random und Einwohner auf bekannte Bezirke aufteilt:

In [15]:
display(df_cases[df_cases['Bezirksname'].isnull()])
print(df_cases[df_cases['Bezirksname'].isnull()].sum())

         Datum         Region  Neue_Faelle Bezirksname
11  2020-02-26  ohne Wohnsitz            2        None
23  2020-02-27  ohne Wohnsitz            0        None
35  2020-02-28  ohne Wohnsitz            4        None
47  2020-02-29  ohne Wohnsitz            0        None
59  2020-03-01  ohne Wohnsitz            0        None
..         ...            ...          ...         ...
815 2021-03-31  ohne Wohnsitz            5        None
827 2021-04-01  ohne Wohnsitz            5        None
839 2021-04-02  ohne Wohnsitz            5        None
851 2021-04-03  ohne Wohnsitz            3        None
863 2021-04-04  ohne Wohnsitz            4        None

[404 rows x 4 columns]

Neue_Faelle    577
Bezirksname      0
dtype: object

## Assign cases 'ohne Wohnsitz' to known Bezirke

'ohne Wohnsitz' cases will be assigned according to the Einwohner of the Bezirke

In [16]:
df_einwohner_per_bezirk = df_all.groupby(['Bezirksname'])['Einwohner'].sum().reset_index().set_index('Bezirksname')
df_einwohner_per_bezirk['Anteil_Einwohner_an_GR'] = df_einwohner_per_bezirk['Einwohner']/df_einwohner_per_bezirk['Einwohner'].sum()
df_einwohner_per_bezirk

                          Einwohner  Anteil_Einwohner_an_GR
Bezirksname
Albula                         8120                0.041220
Bernina                        4629                0.023499
Engiadina B./Val Müstair       9200                0.046703
Imboden                       20970                0.106452
Landquart                     25157                0.127706
Maloja                        18259                0.092690
Moesa                          8566                0.043484
Plessur                       41282                0.209563
Prättigau / Davos             26083                0.132407
Surselva                      21483                0.109056
Viamala                       13242                0.067221

In [17]:
# Ziel: df_cases
# Source: df_cases[df_cases['Bezirksname'].isnull()]

In [18]:
df_ohne_wohnsitz = df_cases[df_cases['Bezirksname'].isnull()]
df_ohne_wohnsitz

         Datum         Region  Neue_Faelle Bezirksname
11  2020-02-26  ohne Wohnsitz            2        None
23  2020-02-27  ohne Wohnsitz            0        None
35  2020-02-28  ohne Wohnsitz            4        None
47  2020-02-29  ohne Wohnsitz            0        None
59  2020-03-01  ohne Wohnsitz            0        None
..         ...            ...          ...         ...
815 2021-03-31  ohne Wohnsitz            5        None
827 2021-04-01  ohne Wohnsitz            5        None
839 2021-04-02  ohne Wohnsitz            5        None
851 2021-04-03  ohne Wohnsitz            3        None
863 2021-04-04  ohne Wohnsitz            4        None

[404 rows x 4 columns]

In [19]:
lst_bezirke = list(df_einwohner_per_bezirk.index)
lst_bezirke

['Albula',
 'Bernina',
 'Engiadina B./Val Müstair',
 'Imboden',
 'Landquart',
 'Maloja',
 'Moesa',
 'Plessur',
 'Prättigau / Davos',
 'Surselva',
 'Viamala']

In [20]:
lst_anteil_einwohner = list(df_einwohner_per_bezirk['Anteil_Einwohner_an_GR'])
lst_anteil_einwohner

[0.041220157266067994,
 0.023498535466087284,
 0.046702641237416936,
 0.10645156377702535,
 0.1277063419140976,
 0.09268951373412998,
 0.04348422009127321,
 0.20956287343076588,
 0.13240706428212456,
 0.1090557436634161,
 0.06722134513759512]

In [21]:
import numpy as np

Choose random Bezirke to "inherit" the 'ohne Wohnsitz' cases, but with weights according to Einwohner

In [22]:
# With choice 1, we choose one Bezrik to inherit all the cases on purpose
df_ohne_wohnsitz['Bezirksname'] = df_ohne_wohnsitz['Bezirksname'].apply(lambda _: np.random.choice(lst_bezirke, 1, p=lst_anteil_einwohner)[0])
df_ohne_wohnsitz

<ipython-input-22-928e065fecfb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ohne_wohnsitz['Bezirksname'] = df_ohne_wohnsitz['Bezirksname'].apply(lambda _: np.random.choice(lst_bezirke, 1, p=lst_anteil_einwohner)[0])

         Datum         Region  Neue_Faelle Bezirksname
11  2020-02-26  ohne Wohnsitz            2   Landquart
23  2020-02-27  ohne Wohnsitz            0      Maloja
35  2020-02-28  ohne Wohnsitz            4      Maloja
47  2020-02-29  ohne Wohnsitz            0     Plessur
59  2020-03-01  ohne Wohnsitz            0   Landquart
..         ...            ...          ...         ...
815 2021-03-31  ohne Wohnsitz            5     Plessur
827 2021-04-01  ohne Wohnsitz            5   Landquart
839 2021-04-02  ohne Wohnsitz            5      Albula
851 2021-04-03  ohne Wohnsitz            3   Landquart
863 2021-04-04  ohne Wohnsitz            4     Plessur

[404 rows x 4 columns]

In [23]:
display(df_ohne_wohnsitz)

         Datum         Region  Neue_Faelle Bezirksname
11  2020-02-26  ohne Wohnsitz            2   Landquart
23  2020-02-27  ohne Wohnsitz            0      Maloja
35  2020-02-28  ohne Wohnsitz            4      Maloja
47  2020-02-29  ohne Wohnsitz            0     Plessur
59  2020-03-01  ohne Wohnsitz            0   Landquart
..         ...            ...          ...         ...
815 2021-03-31  ohne Wohnsitz            5     Plessur
827 2021-04-01  ohne Wohnsitz            5   Landquart
839 2021-04-02  ohne Wohnsitz            5      Albula
851 2021-04-03  ohne Wohnsitz            3   Landquart
863 2021-04-04  ohne Wohnsitz            4     Plessur

[404 rows x 4 columns]

In [24]:
df_cases

,Datum,Region,Neue_Faelle,Bezirksname
0,2020-02-26,Albula,0,Albula
1,2020-02-26,Bernina,0,Bernina
2,2020-02-26,Engiadina Bassa/Val Müstair,0,Engiadina B./Val Müstair
3,2020-02-26,Imboden,0,Imboden
4,2020-02-26,Landquart,0,Landquart
...,...,...,...,...
859,2021-04-04,Plessur,3,Plessur
860,2021-04-04,Prättigau/Davos,5,Prättigau / Davos
861,2021-04-04,Surselva,0,Surselva
862,2021-04-04,Viamala,2,Viamala
863,2021-04-04,ohne Wohnsitz,4,None

In [25]:
df_cases = df_cases[~df_cases['Bezirksname'].isna()]
df_cases

,Datum,Region,Neue_Faelle,Bezirksname
0,2020-02-26,Albula,0,Albula
1,2020-02-26,Bernina,0,Bernina
2,2020-02-26,Engiadina Bassa/Val Müstair,0,Engiadina B./Val Müstair
3,2020-02-26,Imboden,0,Imboden
4,2020-02-26,Landquart,0,Landquart
...,...,...,...,...
858,2021-04-04,Moesa,0,Moesa
859,2021-04-04,Plessur,3,Plessur
860,2021-04-04,Prättigau/Davos,5,Prättigau / Davos
861,2021-04-04,Surselva,0,Surselva
862,2021-04-04,Viamala,2,Viamala

In [26]:
df_extended_cases = df_cases.append(df_ohne_wohnsitz)
df_extended_cases

,Datum,Region,Neue_Faelle,Bezirksname
0,2020-02-26,Albula,0,Albula
1,2020-02-26,Bernina,0,Bernina
2,2020-02-26,Engiadina Bassa/Val Müstair,0,Engiadina B./Val Müstair
3,2020-02-26,Imboden,0,Imboden
4,2020-02-26,Landquart,0,Landquart
...,...,...,...,...
815,2021-03-31,ohne Wohnsitz,5,Plessur
827,2021-04-01,ohne Wohnsitz,5,Landquart
839,2021-04-02,ohne Wohnsitz,5,Albula
851,2021-04-03,ohne Wohnsitz,3,Landquart
863,2021-04-04,ohne Wohnsitz,4,Plessur

In [27]:
df_extended_cases = df_extended_cases.groupby(['Datum', 'Bezirksname'])['Neue_Faelle'].sum().reset_index()
df_extended_cases

          Datum               Bezirksname  Neue_Faelle
0    2020-02-26                    Albula            0
1    2020-02-26                   Bernina            0
2    2020-02-26  Engiadina B./Val Müstair            0
3    2020-02-26                   Imboden            0
4    2020-02-26                 Landquart            2
...         ...                       ...          ...
4439 2021-04-04                     Moesa            0
4440 2021-04-04                   Plessur            7
4441 2021-04-04         Prättigau / Davos            5
4442 2021-04-04                  Surselva            0
4443 2021-04-04                   Viamala            2

[4444 rows x 3 columns]

## Merge cases per day and municipality data

In [28]:
# Get index as column because will be removed after merge
df_all['BFS_Nr'] = df_all.index

In [29]:
df_municipality_cases = pd.merge(df_all, df_extended_cases, how='inner', left_on='Bezirksname', right_on='Bezirksname')
df_municipality_cases.rename(columns={'Neue_Faelle': 'Neue_Faelle_Region'}, inplace=True)
df_municipality_cases

,Einwohner,Gesamtflaeche_in_km2,Gemeindename,Bezirksname,Kanton,Anteil_Flaeche_in_Region,BFS_Nr,Datum,Neue_Faelle_Region
0,2780,42.51,Vaz/Obervaz,Albula,GR,0.062194,3506,2020-02-26,0
1,2780,42.51,Vaz/Obervaz,Albula,GR,0.062194,3506,2020-02-27,0
2,2780,42.51,Vaz/Obervaz,Albula,GR,0.062194,3506,2020-02-28,0
3,2780,42.51,Vaz/Obervaz,Albula,GR,0.062194,3506,2020-02-29,0
4,2780,42.51,Vaz/Obervaz,Albula,GR,0.062194,3506,2020-03-01,0
...,...,...,...,...,...,...,...,...,...
40395,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-03-31,3
40396,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-04-01,20
40397,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-04-02,2
40398,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-04-03,4
40399,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-04-04,1

## Distribute Bezirk cases per day to the Gemeinden
### use random and Gemeindefläche

### Start with Plessur hardcoded
TODO: Make this dynamic with many loops

In [30]:
lst_gemeinden_plessur = list(df_all[df_all['Bezirksname'] == 'Plessur'].index)
lst_gemeinden_plessur
#df_municipality_cases['Neue_Faelle_Gemeinde'] = 12

[3901, 3911, 3921, 3932]

In [31]:
lst_anteil_flaeche_plessur = [df_all.loc[bfsnr]['Anteil_Flaeche_in_Region'] for bfsnr in lst_gemeinden_plessur]
lst_anteil_flaeche_plessur

[0.13376321511584313,
 0.18193746719652096,
 0.580302916697908,
 0.10399640098972782]

In [32]:
df_plessur_cases = df_municipality_cases[df_municipality_cases['Bezirksname'] == 'Plessur']
df_plessur_cases

,Einwohner,Gesamtflaeche_in_km2,Gemeindename,Bezirksname,Kanton,Anteil_Flaeche_in_Region,BFS_Nr,Datum,Neue_Faelle_Region
35552,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-02-26,0
35553,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-02-27,0
35554,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-02-28,0
35555,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-02-29,0
35556,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-03-01,0
...,...,...,...,...,...,...,...,...,...
37163,305,27.74,Tschiertschen-Praden,Plessur,GR,0.103996,3932,2021-03-31,14
37164,305,27.74,Tschiertschen-Praden,Plessur,GR,0.103996,3932,2021-04-01,9
37165,305,27.74,Tschiertschen-Praden,Plessur,GR,0.103996,3932,2021-04-02,14
37166,305,27.74,Tschiertschen-Praden,Plessur,GR,0.103996,3932,2021-04-03,6
37167,305,27.74,Tschiertschen-Praden,Plessur,GR,0.103996,3932,2021-04-04,7

In [33]:
df_plessur_cases[df_plessur_cases['Datum'] == '2020-08-10']

,Einwohner,Gesamtflaeche_in_km2,Gemeindename,Bezirksname,Kanton,Anteil_Flaeche_in_Region,BFS_Nr,Datum,Neue_Faelle_Region
35718,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-08-10,2
36122,1949,48.53,Churwalden,Plessur,GR,0.181937,3911,2020-08-10,2
36526,3131,154.79,Arosa,Plessur,GR,0.580303,3921,2020-08-10,2
36930,305,27.74,Tschiertschen-Praden,Plessur,GR,0.103996,3932,2020-08-10,2

In [34]:
df_plessur_cases_grouped = df_plessur_cases[['Datum', 'Bezirksname', 'Neue_Faelle_Region']].drop_duplicates()
df_plessur_cases_grouped

           Datum Bezirksname  Neue_Faelle_Region
35552 2020-02-26     Plessur                   0
35553 2020-02-27     Plessur                   0
35554 2020-02-28     Plessur                   0
35555 2020-02-29     Plessur                   0
35556 2020-03-01     Plessur                   0
...          ...         ...                 ...
35951 2021-03-31     Plessur                  14
35952 2021-04-01     Plessur                   9
35953 2021-04-02     Plessur                  14
35954 2021-04-03     Plessur                   6
35955 2021-04-04     Plessur                   7

[404 rows x 3 columns]

In [35]:
import collections
def get_choices_for_faelle(anzahl_faelle:int):
    # Choose which BFSNrs (aus lst_gemeinden_plessur), get how many of the anzahl_faelle
    random_choices = np.random.choice(lst_gemeinden_plessur, anzahl_faelle, p=lst_anteil_flaeche_plessur)
    # Count the random choices
    counter = collections.Counter(random_choices)
    # Get the number of choices our "current choice" has got
    return counter

In [36]:
# Datum = 2020-08-10

# calling get_choices_for_faelle does not work, see this example:
display(get_choices_for_faelle(2)) # 3901
display(get_choices_for_faelle(2)) # 3911
display(get_choices_for_faelle(2)) # 3921
display(get_choices_for_faelle(2)) # 3932

Counter({3921: 2})

Counter({3932: 1, 3921: 1})

Counter({3901: 1, 3921: 1})

Counter({3921: 2})

In [37]:
row_date = '2020-08-10'
date_filter = df_plessur_cases['Datum'] == row_date
dict_choices = get_choices_for_faelle(2)
display(dict_choices)
display(df_plessur_cases[date_filter])

# Init with 0 (will be overriden anyways)
# df_plessur_cases['Neue_Faelle_Gemeinde'] = 0

df_faelle_per_gemeinde_row = pd.DataFrame(df_plessur_cases[date_filter]['BFS_Nr'].apply(lambda bfsnr: dict_choices.get(bfsnr, 0)))
df_faelle_per_gemeinde_row.rename(columns={'BFS_Nr': 'Neue_Faelle_Gemeinde'}, inplace=True)
display(df_faelle_per_gemeinde_row)

# TODO: df_plessur_cases here, after a huuuuuge loop

Counter({3901: 1, 3921: 1})

,Einwohner,Gesamtflaeche_in_km2,Gemeindename,Bezirksname,Kanton,Anteil_Flaeche_in_Region,BFS_Nr,Datum,Neue_Faelle_Region
35718,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-08-10,2
36122,1949,48.53,Churwalden,Plessur,GR,0.181937,3911,2020-08-10,2
36526,3131,154.79,Arosa,Plessur,GR,0.580303,3921,2020-08-10,2
36930,305,27.74,Tschiertschen-Praden,Plessur,GR,0.103996,3932,2020-08-10,2

       Neue_Faelle_Gemeinde
35718                     1
36122                     0
36526                     1
36930                     0

## Distribute Bezirk cases per day to the Gemeinden - DYNAMIC

Create a crosstable of Bezirke and BFS_Nr (as list)

In [38]:
df_bezirk_gemeinden = df_all.groupby('Bezirksname')['BFS_Nr'].apply(list).reset_index().set_index('Bezirksname').T
display(df_bezirk_gemeinden)

Bezirksname,Albula,Bernina,Engiadina B./Val Müstair,Imboden,Landquart,Maloja,Moesa,Plessur,Prättigau / Davos,Surselva,Viamala
BFS_Nr,"[3506, 3513, 3514, 3542, 3543, 3544]","[3551, 3561]","[3746, 3752, 3762, 3764, 3847]","[3721, 3722, 3723, 3731, 3732, 3733, 3734]","[3945, 3946, 3947, 3951, 3952, 3953, 3954, 3955]","[3781, 3782, 3783, 3784, 3785, 3786, 3787, 378...","[3804, 3805, 3808, 3810, 3821, 3822, 3823, 383...","[3901, 3911, 3921, 3932]","[3851, 3861, 3862, 3863, 3871, 3881, 3882, 389...","[3572, 3575, 3581, 3582, 3603, 3618, 3619, 367...","[3633, 3637, 3638, 3640, 3661, 3662, 3663, 366..."

Create a crosstable of Bezirke and date for cases

In [39]:
df_cases_bezirk = df_municipality_cases[['Datum', 'Bezirksname', 'Neue_Faelle_Region']].drop_duplicates()
df_cases_bezirk = df_cases_bezirk.groupby(['Datum', 'Bezirksname']).sum()
df_cases_bezirk = df_cases_bezirk.unstack()
df_cases_bezirk = df_cases_bezirk.fillna(0)

df_cases_bezirk

            Neue_Faelle_Region                                           \
Bezirksname             Albula Bernina Engiadina B./Val Müstair Imboden
Datum
2020-02-26                   0       0                        0       0
2020-02-27                   0       0                        0       0
2020-02-28                   0       0                        0       0
2020-02-29                   0       0                        0       0
2020-03-01                   0       0                        0       0
...                        ...     ...                      ...     ...
2021-03-31                   2       0                        7       3
2021-04-01                   6       0                        6       4
2021-04-02                   8       0                        7       2
2021-04-03                   0       0                        5       3
2021-04-04                   5       0                        3       1


Bezirksname Landquart Maloja Moesa Plessur Prättigau / Davos Surselva Viamala
Datum
2020-02-26          2      0     0       0                 0        0       0
2020-02-27          0      0     0       0                 0        0       0
2020-02-28          0      4     0       0                 0        0       0
2020-02-29          0      0     0       0                 0        0       0
2020-03-01          0      0     0       0                 0        0       0
...               ...    ...   ...     ...               ...      ...     ...
2021-03-31          3      2     0      14                 8        4       1
2021-04-01         20      5     0       9                12        1       6
2021-04-02          2     10     1      14                 8        2       2
2021-04-03          4      2     0       6                 5        1       2
2021-04-04          1      2     0       7                 5        0       2

[404 rows x 11 columns]

Create grouped dataframe by Bezirk BFS_Nr for area per Gemeinde

In [40]:
lst_anteil_flaeche_bezirk_gemeinden = df_all.groupby(['Bezirksname', df_all.index])['Anteil_Flaeche_in_Region'].apply(list)
lst_anteil_flaeche_bezirk_gemeinden

Bezirksname  BFS_Nr
Albula       3506       [0.06219367675674094]
             3513       [0.03190882357244224]
             3514       [0.01660546297786426]
             3542       [0.13742300771020177]
             3543       [0.47368729060291725]
                                ...
Viamala      3701       [0.08066342619209393]
             3711      [0.003519225073607554]
             3712      [0.042631404728305365]
             3713       [0.13146570497743862]
             3714       [0.23836652206484432]
Name: Anteil_Flaeche_in_Region, Length: 100, dtype: object

In [41]:
import collections
def get_choices_for_faelle(geminden, faelle:int, flaeche):
    # Choose which BFSNrs (aus lst_gemeinden_plessur), get how many of the anzahl_faelle
    random_choices = np.random.choice(geminden, faelle, p=flaeche)
    # Count the random choices
    counter = collections.Counter(random_choices)
    # Get the number of choices our "current choice" has got
    return counter

In [42]:
import itertools

df_cases_distributed_per_gemeinde = df_municipality_cases
df_cases_distributed_per_gemeinde['Neue_Faelle_Gemeinde'] = 0

# Loop through all Bezirke
for bezirk in df_bezirk_gemeinden:
    print("Bezirk: {}".format(bezirk))

    # Loop thorugh all gemeinde BFS_Nr
    for bezirk_bfs_nrs in df_bezirk_gemeinden[bezirk].values:
        print("BFS_Nrs: {}".format(bezirk_bfs_nrs))

        # Getting all available dates
        unique_dates = df_cases_bezirk['Neue_Faelle_Region'].reset_index()['Datum'].unique()
        for date in unique_dates:
            #print("Date: {}".format(date))
            
            # Flatten gemeinde / area list
            lst_anteil_flaeche_bezirk_gemeinden_flat = itertools.chain(*lst_anteil_flaeche_bezirk_gemeinden[bezirk].values)
            flaechen_bezirk = list(lst_anteil_flaeche_bezirk_gemeinden_flat)

            # Random distribution of cases in given Region for given date
            choices_per_region = get_choices_for_faelle(bezirk_bfs_nrs, df_cases_bezirk['Neue_Faelle_Region'].loc[date][bezirk].astype(int), flaechen_bezirk)

            # Create new dataframe for given Gemeinden based on random choice and assign cases
            df_faelle_per_gemeinde = pd.DataFrame(df_cases_distributed_per_gemeinde[ 
                (df_cases_distributed_per_gemeinde['Datum'] == date) & 
                (df_cases_distributed_per_gemeinde['BFS_Nr'].isin(bezirk_bfs_nrs))
            ]['BFS_Nr'].apply(lambda bfsnr: choices_per_region.get(bfsnr, 0)))
            df_faelle_per_gemeinde.rename(columns={'BFS_Nr': 'Neue_Faelle_Gemeinde'}, inplace=True)

            # Update total dataframe with distributed cases
            df_cases_distributed_per_gemeinde.update(df_faelle_per_gemeinde)

# Verify result
display(df_cases_distributed_per_gemeinde.tail(20))
display("Sum Neue_Faelle_Region: {}".format(df_cases_distributed_per_gemeinde[['Bezirksname','Datum','Neue_Faelle_Region']].drop_duplicates()['Neue_Faelle_Region'].sum()))
display("Sum Neue_Faelle_Gemeinde: {}".format(df_cases_distributed_per_gemeinde['Neue_Faelle_Gemeinde'].sum()))

Bezirk: Albula
BFS_Nrs: [3506, 3513, 3514, 3542, 3543, 3544]
Bezirk: Bernina
BFS_Nrs: [3551, 3561]
Bezirk: Engiadina B./Val Müstair
BFS_Nrs: [3746, 3752, 3762, 3764, 3847]
Bezirk: Imboden
BFS_Nrs: [3721, 3722, 3723, 3731, 3732, 3733, 3734]
Bezirk: Landquart
BFS_Nrs: [3945, 3946, 3947, 3951, 3952, 3953, 3954, 3955]
Bezirk: Maloja
BFS_Nrs: [3781, 3782, 3783, 3784, 3785, 3786, 3787, 3788, 3789, 3790, 3791, 3792]
Bezirk: Moesa
BFS_Nrs: [3804, 3805, 3808, 3810, 3821, 3822, 3823, 3831, 3832, 3834, 3835, 3837]
Bezirk: Plessur
BFS_Nrs: [3901, 3911, 3921, 3932]
Bezirk: Prättigau / Davos
BFS_Nrs: [3851, 3861, 3862, 3863, 3871, 3881, 3882, 3891, 3961, 3962, 3972]
Bezirk: Surselva
BFS_Nrs: [3572, 3575, 3581, 3582, 3603, 3618, 3619, 3672, 3981, 3982, 3983, 3985, 3986, 3987, 3988]
Bezirk: Viamala
BFS_Nrs: [3633, 3637, 3638, 3640, 3661, 3662, 3663, 3668, 3669, 3670, 3673, 3681, 3695, 3701, 3711, 3712, 3713, 3714]

,Einwohner,Gesamtflaeche_in_km2,Gemeindename,Bezirksname,Kanton,Anteil_Flaeche_in_Region,BFS_Nr,Datum,Neue_Faelle_Region,Neue_Faelle_Gemeinde
40380,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-03-16,10,1.0
40381,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-03-17,2,1.0
40382,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-03-18,5,1.0
40383,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-03-19,4,1.0
40384,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-03-20,3,2.0
40385,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-03-21,2,0.0
40386,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-03-22,4,1.0
40387,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-03-23,3,1.0
40388,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-03-24,0,0.0
40389,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-03-25,7,1.0
40390,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-03-26,5,1.0
40391,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-03-27,3,0.0
40392,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-03-28,2,0.0
40393,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-03-29,5,0.0
40394,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-03-30,21,5.0
40395,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-03-31,3,2.0
40396,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-04-01,20,3.0
40397,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-04-02,2,0.0
40398,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-04-03,4,0.0
40399,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-04-04,1,0.0

'Sum Neue_Faelle_Region: 11721'

'Sum Neue_Faelle_Gemeinde: 11721.0'

In [43]:
df_cases_distributed_per_gemeinde[ (df_cases_distributed_per_gemeinde['Datum'] == '2020-08-10') & (df_cases_distributed_per_gemeinde['Bezirksname'] == 'Plessur')]

,Einwohner,Gesamtflaeche_in_km2,Gemeindename,Bezirksname,Kanton,Anteil_Flaeche_in_Region,BFS_Nr,Datum,Neue_Faelle_Region,Neue_Faelle_Gemeinde
35718,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-08-10,2,0.0
36122,1949,48.53,Churwalden,Plessur,GR,0.181937,3911,2020-08-10,2,0.0
36526,3131,154.79,Arosa,Plessur,GR,0.580303,3921,2020-08-10,2,2.0
36930,305,27.74,Tschiertschen-Praden,Plessur,GR,0.103996,3932,2020-08-10,2,0.0

In [44]:
df_cases_distributed_per_gemeinde[ (df_cases_distributed_per_gemeinde['Datum'] == '2020-03-28') & (df_cases_distributed_per_gemeinde['Bezirksname'] == 'Plessur')]

,Einwohner,Gesamtflaeche_in_km2,Gemeindename,Bezirksname,Kanton,Anteil_Flaeche_in_Region,BFS_Nr,Datum,Neue_Faelle_Region,Neue_Faelle_Gemeinde
35583,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-03-28,3,1.0
35987,1949,48.53,Churwalden,Plessur,GR,0.181937,3911,2020-03-28,3,1.0
36391,3131,154.79,Arosa,Plessur,GR,0.580303,3921,2020-03-28,3,1.0
36795,305,27.74,Tschiertschen-Praden,Plessur,GR,0.103996,3932,2020-03-28,3,0.0

In [45]:
df_cases_distributed_per_gemeinde[ (df_cases_distributed_per_gemeinde['Datum'] == '2020-03-28') & (df_cases_distributed_per_gemeinde['Bezirksname'] == 'Prättigau / Davos')]

,Einwohner,Gesamtflaeche_in_km2,Gemeindename,Bezirksname,Kanton,Anteil_Flaeche_in_Region,BFS_Nr,Datum,Neue_Faelle_Region,Neue_Faelle_Gemeinde
31139,10899,284,Davos,Prättigau / Davos,GR,0.332787,3851,2020-03-28,4,2.0
31543,608,25.36,Fideris,Prättigau / Davos,GR,0.029716,3861,2020-03-28,4,1.0
31947,221,33.32,Furna,Prättigau / Davos,GR,0.039044,3862,2020-03-28,4,0.0
32351,1146,25.91,Jenaz,Prättigau / Davos,GR,0.030361,3863,2020-03-28,4,0.0
32755,4451,219.8,Klosters,Prättigau / Davos,GR,0.257558,3871,2020-03-28,4,0.0
33159,226,18.4,Conters im Prättigau,Prättigau / Davos,GR,0.021561,3881,2020-03-28,4,0.0
33563,853,8.14,Küblis,Prättigau / Davos,GR,0.009538,3882,2020-03-28,4,0.0
33967,1582,83.88,Luzein,Prättigau / Davos,GR,0.098289,3891,2020-03-28,4,0.0
34371,2076,43.3,Grüsch,Prättigau / Davos,GR,0.050738,3961,2020-03-28,4,0.0
34775,2679,61.66,Schiers,Prättigau / Davos,GR,0.072252,3962,2020-03-28,4,1.0
35179,1342,49.63,Seewis im Prättigau,Prättigau / Davos,GR,0.058156,3972,2020-03-28,4,0.0

## Calculate 14 days case sum and incidence per Gemeinde

In [46]:
df_cases_distributed_per_gemeinde['Rolling_Sum'] = 0
df_cases_distributed_per_gemeinde['14d_Incidence'] = 0

for gemeinde in df_cases_distributed_per_gemeinde['Gemeindename'].unique():
    print(gemeinde)
    # TODO: Save Sum of yesterday in DB with date of today
    series_rolling_sum = df_cases_distributed_per_gemeinde[df_cases_distributed_per_gemeinde['Gemeindename'] == gemeinde]['Neue_Faelle_Gemeinde'].rolling(14).sum()
    series_einwohner = df_cases_distributed_per_gemeinde[df_cases_distributed_per_gemeinde['Gemeindename'] == gemeinde]['Einwohner']
    series_incidence = (series_rolling_sum / series_einwohner) * 1_000

    df_rolling_sum = pd.DataFrame(columns=['Rolling_Sum'])
    df_rolling_sum['Rolling_Sum'] = series_rolling_sum

    df_incidence = pd.DataFrame(columns=['14d_Incidence'])
    df_incidence['14d_Incidence'] = series_incidence


    df_cases_distributed_per_gemeinde.update(df_rolling_sum)
    df_cases_distributed_per_gemeinde.update(df_incidence)

display(df_cases_distributed_per_gemeinde)

Vaz/Obervaz
Lantsch/Lenz
Schmitten (GR)
Albula/Alvra
Surses
Bergün Filisur
Brusio
Poschiavo
Falera
Laax
Sagogn
Schluein
Vals
Lumnezia
Ilanz/Glion
Safiental
Breil/Brigels
Disentis/Mustér
Medel (Lucmagn)
Sumvitg
Tujetsch
Trun
Obersaxen Mundaun
Fürstenau
Rothenbrunnen
Scharans
Sils im Domleschg
Cazis
Flerden
Masein
Thusis
Tschappina
Urmein
Domleschg
Avers
Sufers
Andeer
Rongellen
Zillis-Reischen
Ferrera
Rheinwald
Bonaduz
Domat/Ems
Rhäzüns
Felsberg
Flims
Tamins
Trin
Zernez
Samnaun
Scuol
Valsot
Val Müstair
Bever
Celerina/Schlarigna
Madulain
Pontresina
La Punt Chamues-ch
Samedan
St. Moritz
S-chanf
Sils im Engadin/Segl
Silvaplana
Zuoz
Bregaglia
Buseno
Castaneda
Rossa
Santa Maria in Calanca
Lostallo
Mesocco
Soazza
Cama
Grono
Roveredo (GR)
San Vittore
Calanca
Davos
Fideris
Furna
Jenaz
Klosters
Conters im Prättigau
Küblis
Luzein
Grüsch
Schiers
Seewis im Prättigau
Chur
Churwalden
Arosa
Tschiertschen-Praden
Trimmis
Untervaz
Zizers
Fläsch
Jenins
Maienfeld
Malans
Landquart

,Einwohner,Gesamtflaeche_in_km2,Gemeindename,Bezirksname,Kanton,Anteil_Flaeche_in_Region,BFS_Nr,Datum,Neue_Faelle_Region,Neue_Faelle_Gemeinde,Rolling_Sum,14d_Incidence
0,2780,42.51,Vaz/Obervaz,Albula,GR,0.062194,3506,2020-02-26,0,0.0,0.0,0
1,2780,42.51,Vaz/Obervaz,Albula,GR,0.062194,3506,2020-02-27,0,0.0,0.0,0
2,2780,42.51,Vaz/Obervaz,Albula,GR,0.062194,3506,2020-02-28,0,0.0,0.0,0
3,2780,42.51,Vaz/Obervaz,Albula,GR,0.062194,3506,2020-02-29,0,0.0,0.0,0
4,2780,42.51,Vaz/Obervaz,Albula,GR,0.062194,3506,2020-03-01,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
40395,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-03-31,3,2.0,15.0,1.687479
40396,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-04-01,20,3.0,17.0,1.912476
40397,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-04-02,2,0.0,16.0,1.799978
40398,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-04-03,4,0.0,14.0,1.57498
40399,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-04-04,1,0.0,14.0,1.57498

In [47]:
pd.set_option('display.max_rows', 10)
df_cases_distributed_per_gemeinde[df_cases_distributed_per_gemeinde['Gemeindename'] == 'Chur'].head(200)

,Einwohner,Gesamtflaeche_in_km2,Gemeindename,Bezirksname,Kanton,Anteil_Flaeche_in_Region,BFS_Nr,Datum,Neue_Faelle_Region,Neue_Faelle_Gemeinde,Rolling_Sum,14d_Incidence
35552,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-02-26,0,0.0,0.0,0
35553,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-02-27,0,0.0,0.0,0
35554,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-02-28,0,0.0,0.0,0
35555,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-02-29,0,0.0,0.0,0
35556,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-03-01,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
35747,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-09-08,0,0.0,1.0,0.027857
35748,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-09-09,0,0.0,1.0,0.027857
35749,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-09-10,1,0.0,1.0,0.027857
35750,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-09-11,1,0.0,1.0,0.027857
35751,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-09-12,0,0.0,1.0,0.027857

## Prepare and save dataframe into DB

In [48]:
df_to_db = df_cases_distributed_per_gemeinde[['BFS_Nr', 'Datum', '14d_Incidence']]
df_to_db.rename(columns={'BFS_Nr':'bfsNr', 'Datum':'date', '14d_Incidence':'incidence'}, inplace=True)

df_to_db

/Users/marco/opt/miniconda3/envs/WODSS/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

       bfsNr       date incidence
0       3506 2020-02-26         0
1       3506 2020-02-27         0
2       3506 2020-02-28         0
3       3506 2020-02-29         0
4       3506 2020-03-01         0
...      ...        ...       ...
40395   3955 2021-03-31  1.687479
40396   3955 2021-04-01  1.912476
40397   3955 2021-04-02  1.799978
40398   3955 2021-04-03   1.57498
40399   3955 2021-04-04   1.57498

[40400 rows x 3 columns]

In [49]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:postgres@localhost:5432/wodssCantonServiceGR')
# uncomment to import
#df_to_db.to_sql('incidence', engine, if_exists='append', index=False)