In [1]:
import pandas as pd
from datetime import datetime, timedelta

## Fetch corona cases of GR

In [2]:
import sys
sys.path.append('../')
import modules.process_incidence.fetch_corona_data as fcd

In [3]:
now = datetime.now()
now = now.replace(hour=0, minute=0, second=0, microsecond=0)

df_cases = fcd.get_corona_cases(datetime(2020, 2, 26, 0, 0), now)
df_cases

          Datum                       Region  Neue_Faelle
0    2020-02-26                       Albula            0
1    2020-02-26                      Bernina            0
2    2020-02-26  Engiadina Bassa/Val Müstair            0
3    2020-02-26                      Imboden            0
4    2020-02-26                    Landquart            0
...         ...                          ...          ...
1435 2021-05-22                      Plessur            2
1436 2021-05-22              Prättigau/Davos            1
1437 2021-05-22                     Surselva            2
1438 2021-05-22                      Viamala            1
1439 2021-05-22                ohne Wohnsitz            0

[5424 rows x 3 columns]

## Fetch all municipalities of GR
### by Bezirk

In [4]:
import sys
sys.path.append('../')
import modules.process_municipality.fetch_municipalities as fmp

In [5]:
df_municipalities = fmp.get_municipalities_df()
df_municipalities

get_municipalities_df_with_file_check: forceUrlDownload is set to False.
/Users/janick/Repos/FHNW/WODSS/wodss-02-gr-canton-service/resources/municipality_data/Gemeindestand.xlsx exists and no datasource reload forced.
Reading /Users/janick/Repos/FHNW/WODSS/wodss-02-gr-canton-service/resources/municipality_data/Gemeindestand.xlsx now...
Done reading /Users/janick/Repos/FHNW/WODSS/wodss-02-gr-canton-service/resources/municipality_data/Gemeindestand.xlsx.
Preprocessing the output DF now: Renaming columns and removing other cantons than GR...
Finished preprocessing. Resulting dataframe:
             Gemeindename Bezirksname Kanton
BFS_Nr
3506          Vaz/Obervaz      Albula     GR
3513         Lantsch/Lenz      Albula     GR
3514       Schmitten (GR)      Albula     GR
3542         Albula/Alvra      Albula     GR
3543               Surses      Albula     GR
...                   ...         ...    ...
3983      Medel (Lucmagn)    Surselva     GR
3985              Sumvitg    Surselva     GR
3986             Tujetsch    Surselva     GR
3987                 Trun    Surselva     GR
3988    Obersaxen Mundaun    Surselva     GR

[101 rows x 3 columns]

             Gemeindename Bezirksname Kanton
BFS_Nr
3506          Vaz/Obervaz      Albula     GR
3513         Lantsch/Lenz      Albula     GR
3514       Schmitten (GR)      Albula     GR
3542         Albula/Alvra      Albula     GR
3543               Surses      Albula     GR
...                   ...         ...    ...
3983      Medel (Lucmagn)    Surselva     GR
3985              Sumvitg    Surselva     GR
3986             Tujetsch    Surselva     GR
3987                 Trun    Surselva     GR
3988    Obersaxen Mundaun    Surselva     GR

[101 rows x 3 columns]

## Fetch metadata of all municipalities in GR 
### i.e. Einwohner and Fläche

In [6]:
import sys
sys.path.append('../')
import modules.process_municipality.fetch_cantons_metadata as fcm

In [7]:
df_population_for_bfsNr = fcm.get_cantons_metadata_df()
df_population_for_bfsNr

get_cantons_metadata_df_with_file_check: forceUrlDownload is set to False.
/Users/janick/Repos/FHNW/WODSS/wodss-02-gr-canton-service/resources/municipality_data/CantonMetadata.xlsx exists and no datasource reload forced.
Reading /Users/janick/Repos/FHNW/WODSS/wodss-02-gr-canton-service/resources/municipality_data/CantonMetadata.xlsx now...
Done reading /Users/janick/Repos/FHNW/WODSS/wodss-02-gr-canton-service/resources/municipality_data/CantonMetadata.xlsx.

              Gemeindename Einwohner Gesamtflaeche_in_km2
BFS_Nr
1          Aeugst am Albis      1982                 7.91
2       Affoltern am Albis     12229                10.59
3               Bonstetten      5548                 7.43
4          Hausen am Albis      3701                 13.6
5                 Hedingen      3734                 6.53
...                    ...       ...                  ...
6807         Basse-Allaine      1230                23.04
6808         Clos du Doubs      1286                61.75
6809           Haute-Ajoie      1095                40.93
6810            La Baroche      1162                31.07
3715    Muntogna da Schons       355                53.59

[2203 rows x 3 columns]

## Combine the two municipality datasets
### i.e. join metadata and Bezirk information

In [8]:
df_all = pd.merge(df_population_for_bfsNr, df_municipalities , how='inner', left_on='BFS_Nr', right_on='BFS_Nr')
# df_all = df.loc[:,~df.columns.duplicated()]
df_all.rename(columns={'Gemeindename_y': 'Gemeindename'}, inplace=True)
df_all.drop('Gemeindename_x', axis=1, inplace=True)
dict_bezirk_flaechen = dict(df_all.groupby(['Bezirksname'])['Gesamtflaeche_in_km2'].sum())

df_all['Anteil_Flaeche_in_Region'] = df_all.apply(lambda row: row['Gesamtflaeche_in_km2']/dict_bezirk_flaechen[row['Bezirksname']], axis=1)
#display(df_all.groupby(['Bezirksname'])['Anteil_Flaeche_in_Region'].sum())
df_all

,Einwohner,Gesamtflaeche_in_km2,Gemeindename,Bezirksname,Kanton,Anteil_Flaeche_in_Region
BFS_Nr,,,,,,
3506,2780,42.51,Vaz/Obervaz,Albula,GR,0.062194
3513,535,21.81,Lantsch/Lenz,Albula,GR,0.031909
3514,234,11.35,Schmitten (GR),Albula,GR,0.016605
3542,1310,93.93,Albula/Alvra,Albula,GR,0.137423
3543,2356,323.77,Surses,Albula,GR,0.473687
...,...,...,...,...,...,...
3985,1158,101.88,Sumvitg,Surselva,GR,0.074172
3986,1238,133.91,Tujetsch,Surselva,GR,0.097491
3987,1170,51.9,Trun,Surselva,GR,0.037785
3988,1188,70.36,Obersaxen Mundaun,Surselva,GR,0.051225
3715,355,53.59,Muntogna da Schons,Viamala,GR,0.085392

## Mapping von Region auf Bezirksnamen

In [9]:
set_bezirksnamen = set(sorted(df_municipalities['Bezirksname'])) # From Municipality Stammdaten
print(set_bezirksnamen)
print(len(set_bezirksnamen))

{'Engiadina B./Val Müstair', 'Maloja', 'Imboden', 'Viamala', 'Bernina', 'Prättigau / Davos', 'Plessur', 'Albula', 'Surselva', 'Landquart', 'Moesa'}
11

In [10]:
set_regionen = set(sorted(df_cases['Region'])) # From Cases, i.e. the region a case belongs to
print(set_regionen)
print(len(set_regionen))

{'Maloja', 'ohne Wohnsitz', 'Imboden', 'Engiadina Bassa/Val Müstair', 'Viamala', 'Prättigau/Davos', 'Bernina', 'Plessur', 'Albula', 'Surselva', 'Landquart', 'Moesa'}
12

The following dictionary is the mapping for the names of the Bezirke from the two different datasources:

In [11]:
# Region (from Cases): Bezirksname (from Municipalities)
dict_bezirks_mapping = {'Albula': 'Albula',
 'Bernina': 'Bernina',
 'Engiadina Bassa/Val Müstair': 'Engiadina B./Val Müstair',
 'Imboden': 'Imboden',
 'Landquart': 'Landquart',
 'Maloja': 'Maloja',
 'Moesa': 'Moesa',
 'Plessur': 'Plessur',
 'Prättigau/Davos': 'Prättigau / Davos',
 'Surselva': 'Surselva',
 'Viamala': 'Viamala'}

Neue Spalte 'Bezirksname' welche anhand 'Region' gemapped wurde:

In [12]:
df_cases['Bezirksname'] = df_cases['Region'].apply(lambda region: dict_bezirks_mapping.get(region))
df_cases

,Datum,Region,Neue_Faelle,Bezirksname
0,2020-02-26,Albula,0,Albula
1,2020-02-26,Bernina,0,Bernina
2,2020-02-26,Engiadina Bassa/Val Müstair,0,Engiadina B./Val Müstair
3,2020-02-26,Imboden,0,Imboden
4,2020-02-26,Landquart,0,Landquart
...,...,...,...,...
1435,2021-05-22,Plessur,2,Plessur
1436,2021-05-22,Prättigau/Davos,1,Prättigau / Davos
1437,2021-05-22,Surselva,2,Surselva
1438,2021-05-22,Viamala,1,Viamala
1439,2021-05-22,ohne Wohnsitz,0,None

 Nicht gefundene Einträge (z.B. 'ohne Wohnsitz') werden mit None abgefüllt und in einem späteren Schritt mit Kombination aus random und Einwohner auf bekannte Bezirke aufteilt:

In [13]:
display(df_cases[df_cases['Bezirksname'].isnull()])
print(df_cases[df_cases['Bezirksname'].isnull()].sum())

          Datum         Region  Neue_Faelle Bezirksname
11   2020-02-26  ohne Wohnsitz            2        None
23   2020-02-27  ohne Wohnsitz            0        None
35   2020-02-28  ohne Wohnsitz            4        None
47   2020-02-29  ohne Wohnsitz            0        None
59   2020-03-01  ohne Wohnsitz            0        None
...         ...            ...          ...         ...
1391 2021-05-18  ohne Wohnsitz            3        None
1403 2021-05-19  ohne Wohnsitz            2        None
1415 2021-05-20  ohne Wohnsitz            2        None
1427 2021-05-21  ohne Wohnsitz            1        None
1439 2021-05-22  ohne Wohnsitz            0        None

[452 rows x 4 columns]

Neue_Faelle    626
Bezirksname      0
dtype: object

## Assign cases 'ohne Wohnsitz' to known Bezirke

'ohne Wohnsitz' cases will be assigned according to the Einwohner of the Bezirke

In [14]:
df_einwohner_per_bezirk = df_all.groupby(['Bezirksname'])['Einwohner'].sum().reset_index().set_index('Bezirksname')
df_einwohner_per_bezirk['Anteil_Einwohner_an_GR'] = df_einwohner_per_bezirk['Einwohner']/df_einwohner_per_bezirk['Einwohner'].sum()
df_einwohner_per_bezirk

                          Einwohner  Anteil_Einwohner_an_GR
Bezirksname
Albula                         8120                0.041146
Bernina                        4629                0.023456
Engiadina B./Val Müstair       9200                0.046619
Imboden                       20970                0.106260
Landquart                     25157                0.127477
Maloja                        18259                0.092523
Moesa                          8566                0.043406
Plessur                       41282                0.209186
Prättigau / Davos             26083                0.132169
Surselva                      21483                0.108860
Viamala                       13597                0.068899

In [15]:
# Ziel: df_cases
# Source: df_cases[df_cases['Bezirksname'].isnull()]

In [16]:
df_ohne_wohnsitz = df_cases[df_cases['Bezirksname'].isnull()]
df_ohne_wohnsitz

          Datum         Region  Neue_Faelle Bezirksname
11   2020-02-26  ohne Wohnsitz            2        None
23   2020-02-27  ohne Wohnsitz            0        None
35   2020-02-28  ohne Wohnsitz            4        None
47   2020-02-29  ohne Wohnsitz            0        None
59   2020-03-01  ohne Wohnsitz            0        None
...         ...            ...          ...         ...
1391 2021-05-18  ohne Wohnsitz            3        None
1403 2021-05-19  ohne Wohnsitz            2        None
1415 2021-05-20  ohne Wohnsitz            2        None
1427 2021-05-21  ohne Wohnsitz            1        None
1439 2021-05-22  ohne Wohnsitz            0        None

[452 rows x 4 columns]

In [17]:
lst_bezirke = list(df_einwohner_per_bezirk.index)
lst_bezirke

['Albula',
 'Bernina',
 'Engiadina B./Val Müstair',
 'Imboden',
 'Landquart',
 'Maloja',
 'Moesa',
 'Plessur',
 'Prättigau / Davos',
 'Surselva',
 'Viamala']

In [18]:
lst_anteil_einwohner = list(df_einwohner_per_bezirk['Anteil_Einwohner_an_GR'])
lst_anteil_einwohner

[0.04114600751978758,
 0.023456264631662158,
 0.046618629209611545,
 0.10626007114408197,
 0.1274766146767606,
 0.09252277725416273,
 0.04340599758799266,
 0.20918589685121564,
 0.1321688810515541,
 0.10885956644674835,
 0.06889929362642262]

In [19]:
import numpy as np

Choose random Bezirke to "inherit" the 'ohne Wohnsitz' cases, but with weights according to Einwohner

In [20]:
# With choice 1, we choose one Bezrik to inherit all the cases on purpose
df_ohne_wohnsitz['Bezirksname'] = df_ohne_wohnsitz['Bezirksname'].apply(lambda _: np.random.choice(lst_bezirke, 1, p=lst_anteil_einwohner)[0])
df_ohne_wohnsitz

<ipython-input-20-928e065fecfb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ohne_wohnsitz['Bezirksname'] = df_ohne_wohnsitz['Bezirksname'].apply(lambda _: np.random.choice(lst_bezirke, 1, p=lst_anteil_einwohner)[0])

          Datum         Region  Neue_Faelle        Bezirksname
11   2020-02-26  ohne Wohnsitz            2              Moesa
23   2020-02-27  ohne Wohnsitz            0           Surselva
35   2020-02-28  ohne Wohnsitz            4            Plessur
47   2020-02-29  ohne Wohnsitz            0            Plessur
59   2020-03-01  ohne Wohnsitz            0            Viamala
...         ...            ...          ...                ...
1391 2021-05-18  ohne Wohnsitz            3             Maloja
1403 2021-05-19  ohne Wohnsitz            2            Imboden
1415 2021-05-20  ohne Wohnsitz            2            Imboden
1427 2021-05-21  ohne Wohnsitz            1            Plessur
1439 2021-05-22  ohne Wohnsitz            0  Prättigau / Davos

[452 rows x 4 columns]

In [21]:
display(df_ohne_wohnsitz)

          Datum         Region  Neue_Faelle        Bezirksname
11   2020-02-26  ohne Wohnsitz            2              Moesa
23   2020-02-27  ohne Wohnsitz            0           Surselva
35   2020-02-28  ohne Wohnsitz            4            Plessur
47   2020-02-29  ohne Wohnsitz            0            Plessur
59   2020-03-01  ohne Wohnsitz            0            Viamala
...         ...            ...          ...                ...
1391 2021-05-18  ohne Wohnsitz            3             Maloja
1403 2021-05-19  ohne Wohnsitz            2            Imboden
1415 2021-05-20  ohne Wohnsitz            2            Imboden
1427 2021-05-21  ohne Wohnsitz            1            Plessur
1439 2021-05-22  ohne Wohnsitz            0  Prättigau / Davos

[452 rows x 4 columns]

In [22]:
df_cases

,Datum,Region,Neue_Faelle,Bezirksname
0,2020-02-26,Albula,0,Albula
1,2020-02-26,Bernina,0,Bernina
2,2020-02-26,Engiadina Bassa/Val Müstair,0,Engiadina B./Val Müstair
3,2020-02-26,Imboden,0,Imboden
4,2020-02-26,Landquart,0,Landquart
...,...,...,...,...
1435,2021-05-22,Plessur,2,Plessur
1436,2021-05-22,Prättigau/Davos,1,Prättigau / Davos
1437,2021-05-22,Surselva,2,Surselva
1438,2021-05-22,Viamala,1,Viamala
1439,2021-05-22,ohne Wohnsitz,0,None

In [23]:
df_cases = df_cases[~df_cases['Bezirksname'].isna()]
df_cases

,Datum,Region,Neue_Faelle,Bezirksname
0,2020-02-26,Albula,0,Albula
1,2020-02-26,Bernina,0,Bernina
2,2020-02-26,Engiadina Bassa/Val Müstair,0,Engiadina B./Val Müstair
3,2020-02-26,Imboden,0,Imboden
4,2020-02-26,Landquart,0,Landquart
...,...,...,...,...
1434,2021-05-22,Moesa,0,Moesa
1435,2021-05-22,Plessur,2,Plessur
1436,2021-05-22,Prättigau/Davos,1,Prättigau / Davos
1437,2021-05-22,Surselva,2,Surselva
1438,2021-05-22,Viamala,1,Viamala

In [24]:
df_extended_cases = df_cases.append(df_ohne_wohnsitz)
df_extended_cases

,Datum,Region,Neue_Faelle,Bezirksname
0,2020-02-26,Albula,0,Albula
1,2020-02-26,Bernina,0,Bernina
2,2020-02-26,Engiadina Bassa/Val Müstair,0,Engiadina B./Val Müstair
3,2020-02-26,Imboden,0,Imboden
4,2020-02-26,Landquart,0,Landquart
...,...,...,...,...
1391,2021-05-18,ohne Wohnsitz,3,Maloja
1403,2021-05-19,ohne Wohnsitz,2,Imboden
1415,2021-05-20,ohne Wohnsitz,2,Imboden
1427,2021-05-21,ohne Wohnsitz,1,Plessur
1439,2021-05-22,ohne Wohnsitz,0,Prättigau / Davos

In [25]:
df_extended_cases = df_extended_cases.groupby(['Datum', 'Bezirksname'])['Neue_Faelle'].sum().reset_index()
df_extended_cases

          Datum               Bezirksname  Neue_Faelle
0    2020-02-26                    Albula            0
1    2020-02-26                   Bernina            0
2    2020-02-26  Engiadina B./Val Müstair            0
3    2020-02-26                   Imboden            0
4    2020-02-26                 Landquart            0
...         ...                       ...          ...
4967 2021-05-22                     Moesa            0
4968 2021-05-22                   Plessur            2
4969 2021-05-22         Prättigau / Davos            1
4970 2021-05-22                  Surselva            2
4971 2021-05-22                   Viamala            1

[4972 rows x 3 columns]

## Merge cases per day and municipality data

In [26]:
# Get index as column because will be removed after merge
df_all['BFS_Nr'] = df_all.index

In [27]:
df_municipality_cases = pd.merge(df_all, df_extended_cases, how='inner', left_on='Bezirksname', right_on='Bezirksname')
df_municipality_cases.rename(columns={'Neue_Faelle': 'Neue_Faelle_Region'}, inplace=True)
df_municipality_cases

,Einwohner,Gesamtflaeche_in_km2,Gemeindename,Bezirksname,Kanton,Anteil_Flaeche_in_Region,BFS_Nr,Datum,Neue_Faelle_Region
0,2780,42.51,Vaz/Obervaz,Albula,GR,0.062194,3506,2020-02-26,0
1,2780,42.51,Vaz/Obervaz,Albula,GR,0.062194,3506,2020-02-27,0
2,2780,42.51,Vaz/Obervaz,Albula,GR,0.062194,3506,2020-02-28,0
3,2780,42.51,Vaz/Obervaz,Albula,GR,0.062194,3506,2020-02-29,0
4,2780,42.51,Vaz/Obervaz,Albula,GR,0.062194,3506,2020-03-01,0
...,...,...,...,...,...,...,...,...,...
45647,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-05-18,6
45648,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-05-19,1
45649,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-05-20,3
45650,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-05-21,2
45651,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-05-22,0

## Distribute Bezirk cases per day to the Gemeinden
### use random and Gemeindefläche

### Start with Plessur hardcoded
TODO: Make this dynamic with many loops

In [28]:
lst_gemeinden_plessur = list(df_all[df_all['Bezirksname'] == 'Plessur'].index)
lst_gemeinden_plessur
#df_municipality_cases['Neue_Faelle_Gemeinde'] = 12

[3901, 3911, 3921, 3932]

In [29]:
lst_anteil_flaeche_plessur = [df_all.loc[bfsnr]['Anteil_Flaeche_in_Region'] for bfsnr in lst_gemeinden_plessur]
lst_anteil_flaeche_plessur

[0.13376321511584313,
 0.18193746719652096,
 0.580302916697908,
 0.10399640098972782]

In [30]:
df_plessur_cases = df_municipality_cases[df_municipality_cases['Bezirksname'] == 'Plessur']
df_plessur_cases

,Einwohner,Gesamtflaeche_in_km2,Gemeindename,Bezirksname,Kanton,Anteil_Flaeche_in_Region,BFS_Nr,Datum,Neue_Faelle_Region
40228,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-02-26,0
40229,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-02-27,0
40230,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-02-28,4
40231,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-02-29,0
40232,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-03-01,0
...,...,...,...,...,...,...,...,...,...
42031,305,27.74,Tschiertschen-Praden,Plessur,GR,0.103996,3932,2021-05-18,3
42032,305,27.74,Tschiertschen-Praden,Plessur,GR,0.103996,3932,2021-05-19,5
42033,305,27.74,Tschiertschen-Praden,Plessur,GR,0.103996,3932,2021-05-20,7
42034,305,27.74,Tschiertschen-Praden,Plessur,GR,0.103996,3932,2021-05-21,2
42035,305,27.74,Tschiertschen-Praden,Plessur,GR,0.103996,3932,2021-05-22,2

In [31]:
df_plessur_cases[df_plessur_cases['Datum'] == '2020-08-10']

,Einwohner,Gesamtflaeche_in_km2,Gemeindename,Bezirksname,Kanton,Anteil_Flaeche_in_Region,BFS_Nr,Datum,Neue_Faelle_Region
40394,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-08-10,3
40846,1949,48.53,Churwalden,Plessur,GR,0.181937,3911,2020-08-10,3
41298,3131,154.79,Arosa,Plessur,GR,0.580303,3921,2020-08-10,3
41750,305,27.74,Tschiertschen-Praden,Plessur,GR,0.103996,3932,2020-08-10,3

In [32]:
df_plessur_cases_grouped = df_plessur_cases[['Datum', 'Bezirksname', 'Neue_Faelle_Region']].drop_duplicates()
df_plessur_cases_grouped

           Datum Bezirksname  Neue_Faelle_Region
40228 2020-02-26     Plessur                   0
40229 2020-02-27     Plessur                   0
40230 2020-02-28     Plessur                   4
40231 2020-02-29     Plessur                   0
40232 2020-03-01     Plessur                   0
...          ...         ...                 ...
40675 2021-05-18     Plessur                   3
40676 2021-05-19     Plessur                   5
40677 2021-05-20     Plessur                   7
40678 2021-05-21     Plessur                   2
40679 2021-05-22     Plessur                   2

[452 rows x 3 columns]

In [33]:
import collections
def get_choices_for_faelle(anzahl_faelle:int):
    # Choose which BFSNrs (aus lst_gemeinden_plessur), get how many of the anzahl_faelle
    random_choices = np.random.choice(lst_gemeinden_plessur, anzahl_faelle, p=lst_anteil_flaeche_plessur)
    # Count the random choices
    counter = collections.Counter(random_choices)
    # Get the number of choices our "current choice" has got
    return counter

In [34]:
# Datum = 2020-08-10

# calling get_choices_for_faelle does not work, see this example:
display(get_choices_for_faelle(2)) # 3901
display(get_choices_for_faelle(2)) # 3911
display(get_choices_for_faelle(2)) # 3921
display(get_choices_for_faelle(2)) # 3932

Counter({3932: 1, 3921: 1})

Counter({3901: 1, 3921: 1})

Counter({3921: 2})

Counter({3921: 1, 3901: 1})

In [35]:
row_date = '2020-08-10'
date_filter = df_plessur_cases['Datum'] == row_date
dict_choices = get_choices_for_faelle(2)
display(dict_choices)
display(df_plessur_cases[date_filter])

# Init with 0 (will be overriden anyways)
# df_plessur_cases['Neue_Faelle_Gemeinde'] = 0

df_faelle_per_gemeinde_row = pd.DataFrame(df_plessur_cases[date_filter]['BFS_Nr'].apply(lambda bfsnr: dict_choices.get(bfsnr, 0)))
df_faelle_per_gemeinde_row.rename(columns={'BFS_Nr': 'Neue_Faelle_Gemeinde'}, inplace=True)
display(df_faelle_per_gemeinde_row)

# TODO: df_plessur_cases here, after a huuuuuge loop

Counter({3901: 1, 3921: 1})

,Einwohner,Gesamtflaeche_in_km2,Gemeindename,Bezirksname,Kanton,Anteil_Flaeche_in_Region,BFS_Nr,Datum,Neue_Faelle_Region
40394,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-08-10,3
40846,1949,48.53,Churwalden,Plessur,GR,0.181937,3911,2020-08-10,3
41298,3131,154.79,Arosa,Plessur,GR,0.580303,3921,2020-08-10,3
41750,305,27.74,Tschiertschen-Praden,Plessur,GR,0.103996,3932,2020-08-10,3

       Neue_Faelle_Gemeinde
40394                     1
40846                     0
41298                     1
41750                     0

## Distribute Bezirk cases per day to the Gemeinden - DYNAMIC

Create a crosstable of Bezirke and BFS_Nr (as list)

In [36]:
df_bezirk_gemeinden = df_all.groupby('Bezirksname')['BFS_Nr'].apply(list).reset_index().set_index('Bezirksname').T
display(df_bezirk_gemeinden)

Bezirksname,Albula,Bernina,Engiadina B./Val Müstair,Imboden,Landquart,Maloja,Moesa,Plessur,Prättigau / Davos,Surselva,Viamala
BFS_Nr,"[3506, 3513, 3514, 3542, 3543, 3544]","[3551, 3561]","[3746, 3752, 3762, 3764, 3847]","[3721, 3722, 3723, 3731, 3732, 3733, 3734]","[3945, 3946, 3947, 3951, 3952, 3953, 3954, 3955]","[3781, 3782, 3783, 3784, 3785, 3786, 3787, 378...","[3804, 3805, 3808, 3810, 3821, 3822, 3823, 383...","[3901, 3911, 3921, 3932]","[3851, 3861, 3862, 3863, 3871, 3881, 3882, 389...","[3572, 3575, 3581, 3582, 3603, 3618, 3619, 367...","[3633, 3637, 3638, 3640, 3661, 3662, 3663, 366..."

Create a crosstable of Bezirke and date for cases

In [37]:
df_cases_bezirk = df_municipality_cases[['Datum', 'Bezirksname', 'Neue_Faelle_Region']].drop_duplicates()
df_cases_bezirk = df_cases_bezirk.groupby(['Datum', 'Bezirksname']).sum()
df_cases_bezirk = df_cases_bezirk.unstack()
df_cases_bezirk = df_cases_bezirk.fillna(0)

df_cases_bezirk

            Neue_Faelle_Region                                           \
Bezirksname             Albula Bernina Engiadina B./Val Müstair Imboden
Datum
2020-02-26                   0       0                        0       0
2020-02-27                   0       0                        0       0
2020-02-28                   0       0                        0       0
2020-02-29                   0       0                        0       0
2020-03-01                   0       0                        0       0
...                        ...     ...                      ...     ...
2021-05-18                   3       0                        1       2
2021-05-19                   1       1                        0       6
2021-05-20                   1       2                        0       8
2021-05-21                   1       0                        0       4
2021-05-22                   1       2                        0       5


Bezirksname Landquart Maloja Moesa Plessur Prättigau / Davos Surselva Viamala
Datum
2020-02-26          0      0     2       0                 0        0       0
2020-02-27          0      0     0       0                 0        0       0
2020-02-28          0      0     0       4                 0        0       0
2020-02-29          0      0     0       0                 0        0       0
2020-03-01          0      0     0       0                 0        0       0
...               ...    ...   ...     ...               ...      ...     ...
2021-05-18          6      4     1       3                 5        2       1
2021-05-19          1      0     1       5                 1        3       2
2021-05-20          3      3     0       7                 2        2       3
2021-05-21          2      1     0       2                 1        2       0
2021-05-22          0      1     0       2                 1        2       1

[452 rows x 11 columns]

Create grouped dataframe by Bezirk BFS_Nr for area per Gemeinde

In [38]:
lst_anteil_flaeche_bezirk_gemeinden = df_all.groupby(['Bezirksname', df_all.index])['Anteil_Flaeche_in_Region'].apply(list)
lst_anteil_flaeche_bezirk_gemeinden

Bezirksname  BFS_Nr
Albula       3506        [0.06219367675674094]
             3513        [0.03190882357244224]
             3514        [0.01660546297786426]
             3542        [0.13742300771020177]
             3543        [0.47368729060291725]
                                ...
Viamala      3711      [0.0032187131521080976]
             3712       [0.038991044966378785]
             3713         [0.1202396507218203]
             3714         [0.2180120462729851]
             3715        [0.08539150387201631]
Name: Anteil_Flaeche_in_Region, Length: 101, dtype: object

In [39]:
import collections
def get_choices_for_faelle(geminden, faelle:int, flaeche):
    # Choose which BFSNrs (aus lst_gemeinden_plessur), get how many of the anzahl_faelle
    random_choices = np.random.choice(geminden, faelle, p=flaeche)
    # Count the random choices
    counter = collections.Counter(random_choices)
    # Get the number of choices our "current choice" has got
    return counter

In [40]:
import itertools

df_cases_distributed_per_gemeinde = df_municipality_cases
df_cases_distributed_per_gemeinde['Neue_Faelle_Gemeinde'] = 0

# Loop through all Bezirke
for bezirk in df_bezirk_gemeinden:
    print("Bezirk: {}".format(bezirk))

    # Loop thorugh all gemeinde BFS_Nr
    for bezirk_bfs_nrs in df_bezirk_gemeinden[bezirk].values:
        print("BFS_Nrs: {}".format(bezirk_bfs_nrs))

        # Getting all available dates
        unique_dates = df_cases_bezirk['Neue_Faelle_Region'].reset_index()['Datum'].unique()
        for date in unique_dates:
            #print("Date: {}".format(date))
            
            # Flatten gemeinde / area list
            lst_anteil_flaeche_bezirk_gemeinden_flat = itertools.chain(*lst_anteil_flaeche_bezirk_gemeinden[bezirk].values)
            flaechen_bezirk = list(lst_anteil_flaeche_bezirk_gemeinden_flat)

            # Random distribution of cases in given Region for given date
            choices_per_region = get_choices_for_faelle(bezirk_bfs_nrs, df_cases_bezirk['Neue_Faelle_Region'].loc[date][bezirk].astype(int), flaechen_bezirk)

            # Create new dataframe for given Gemeinden based on random choice and assign cases
            df_faelle_per_gemeinde = pd.DataFrame(df_cases_distributed_per_gemeinde[ 
                (df_cases_distributed_per_gemeinde['Datum'] == date) & 
                (df_cases_distributed_per_gemeinde['BFS_Nr'].isin(bezirk_bfs_nrs))
            ]['BFS_Nr'].apply(lambda bfsnr: choices_per_region.get(bfsnr, 0)))
            df_faelle_per_gemeinde.rename(columns={'BFS_Nr': 'Neue_Faelle_Gemeinde'}, inplace=True)

            # Update total dataframe with distributed cases
            df_cases_distributed_per_gemeinde.update(df_faelle_per_gemeinde)

# Verify result
display(df_cases_distributed_per_gemeinde.tail(20))
display("Sum Neue_Faelle_Region: {}".format(df_cases_distributed_per_gemeinde[['Bezirksname','Datum','Neue_Faelle_Region']].drop_duplicates()['Neue_Faelle_Region'].sum()))
display("Sum Neue_Faelle_Gemeinde: {}".format(df_cases_distributed_per_gemeinde['Neue_Faelle_Gemeinde'].sum()))

Bezirk: Albula
BFS_Nrs: [3506, 3513, 3514, 3542, 3543, 3544]
Bezirk: Bernina
BFS_Nrs: [3551, 3561]
Bezirk: Engiadina B./Val Müstair
BFS_Nrs: [3746, 3752, 3762, 3764, 3847]
Bezirk: Imboden
BFS_Nrs: [3721, 3722, 3723, 3731, 3732, 3733, 3734]
Bezirk: Landquart
BFS_Nrs: [3945, 3946, 3947, 3951, 3952, 3953, 3954, 3955]
Bezirk: Maloja
BFS_Nrs: [3781, 3782, 3783, 3784, 3785, 3786, 3787, 3788, 3789, 3790, 3791, 3792]
Bezirk: Moesa
BFS_Nrs: [3804, 3805, 3808, 3810, 3821, 3822, 3823, 3831, 3832, 3834, 3835, 3837]
Bezirk: Plessur
BFS_Nrs: [3901, 3911, 3921, 3932]
Bezirk: Prättigau / Davos
BFS_Nrs: [3851, 3861, 3862, 3863, 3871, 3881, 3882, 3891, 3961, 3962, 3972]
Bezirk: Surselva
BFS_Nrs: [3572, 3575, 3581, 3582, 3603, 3618, 3619, 3672, 3981, 3982, 3983, 3985, 3986, 3987, 3988]
Bezirk: Viamala
BFS_Nrs: [3633, 3637, 3638, 3640, 3661, 3662, 3663, 3668, 3669, 3670, 3673, 3681, 3695, 3701, 3711, 3712, 3713, 3714, 3715]

,Einwohner,Gesamtflaeche_in_km2,Gemeindename,Bezirksname,Kanton,Anteil_Flaeche_in_Region,BFS_Nr,Datum,Neue_Faelle_Region,Neue_Faelle_Gemeinde
45632,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-05-03,3,0.0
45633,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-05-04,2,0.0
45634,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-05-05,8,0.0
45635,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-05-06,4,1.0
45636,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-05-07,3,1.0
45637,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-05-08,3,0.0
45638,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-05-09,0,0.0
45639,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-05-10,1,0.0
45640,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-05-11,5,2.0
45641,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-05-12,1,1.0
45642,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-05-13,3,0.0
45643,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-05-14,0,0.0
45644,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-05-15,1,0.0
45645,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-05-16,0,0.0
45646,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-05-17,3,0.0
45647,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-05-18,6,1.0
45648,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-05-19,1,0.0
45649,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-05-20,3,0.0
45650,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-05-21,2,0.0
45651,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-05-22,0,0.0

'Sum Neue_Faelle_Region: 13294'

'Sum Neue_Faelle_Gemeinde: 13294.0'

In [41]:
df_cases_distributed_per_gemeinde[ (df_cases_distributed_per_gemeinde['Datum'] == '2020-08-10') & (df_cases_distributed_per_gemeinde['Bezirksname'] == 'Plessur')]

,Einwohner,Gesamtflaeche_in_km2,Gemeindename,Bezirksname,Kanton,Anteil_Flaeche_in_Region,BFS_Nr,Datum,Neue_Faelle_Region,Neue_Faelle_Gemeinde
40394,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-08-10,3,0.0
40846,1949,48.53,Churwalden,Plessur,GR,0.181937,3911,2020-08-10,3,0.0
41298,3131,154.79,Arosa,Plessur,GR,0.580303,3921,2020-08-10,3,2.0
41750,305,27.74,Tschiertschen-Praden,Plessur,GR,0.103996,3932,2020-08-10,3,1.0

In [42]:
df_cases_distributed_per_gemeinde[ (df_cases_distributed_per_gemeinde['Datum'] == '2020-03-28') & (df_cases_distributed_per_gemeinde['Bezirksname'] == 'Plessur')]

,Einwohner,Gesamtflaeche_in_km2,Gemeindename,Bezirksname,Kanton,Anteil_Flaeche_in_Region,BFS_Nr,Datum,Neue_Faelle_Region,Neue_Faelle_Gemeinde
40259,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-03-28,3,0.0
40711,1949,48.53,Churwalden,Plessur,GR,0.181937,3911,2020-03-28,3,0.0
41163,3131,154.79,Arosa,Plessur,GR,0.580303,3921,2020-03-28,3,2.0
41615,305,27.74,Tschiertschen-Praden,Plessur,GR,0.103996,3932,2020-03-28,3,1.0

In [43]:
df_cases_distributed_per_gemeinde[ (df_cases_distributed_per_gemeinde['Datum'] == '2020-03-28') & (df_cases_distributed_per_gemeinde['Bezirksname'] == 'Prättigau / Davos')]

,Einwohner,Gesamtflaeche_in_km2,Gemeindename,Bezirksname,Kanton,Anteil_Flaeche_in_Region,BFS_Nr,Datum,Neue_Faelle_Region,Neue_Faelle_Gemeinde
35287,10899,284,Davos,Prättigau / Davos,GR,0.332787,3851,2020-03-28,4,2.0
35739,608,25.36,Fideris,Prättigau / Davos,GR,0.029716,3861,2020-03-28,4,1.0
36191,221,33.32,Furna,Prättigau / Davos,GR,0.039044,3862,2020-03-28,4,0.0
36643,1146,25.91,Jenaz,Prättigau / Davos,GR,0.030361,3863,2020-03-28,4,0.0
37095,4451,219.8,Klosters,Prättigau / Davos,GR,0.257558,3871,2020-03-28,4,1.0
37547,226,18.4,Conters im Prättigau,Prättigau / Davos,GR,0.021561,3881,2020-03-28,4,0.0
37999,853,8.14,Küblis,Prättigau / Davos,GR,0.009538,3882,2020-03-28,4,0.0
38451,1582,83.88,Luzein,Prättigau / Davos,GR,0.098289,3891,2020-03-28,4,0.0
38903,2076,43.3,Grüsch,Prättigau / Davos,GR,0.050738,3961,2020-03-28,4,0.0
39355,2679,61.66,Schiers,Prättigau / Davos,GR,0.072252,3962,2020-03-28,4,0.0
39807,1342,49.63,Seewis im Prättigau,Prättigau / Davos,GR,0.058156,3972,2020-03-28,4,0.0

## Calculate 14 days case sum and incidence per Gemeinde

In [44]:
df_cases_distributed_per_gemeinde['Rolling_Sum'] = 0
df_cases_distributed_per_gemeinde['14d_Incidence'] = 0

for gemeinde in df_cases_distributed_per_gemeinde['Gemeindename'].unique():
    print(gemeinde)
    # TODO: Save Sum of yesterday in DB with date of today
    series_rolling_sum = df_cases_distributed_per_gemeinde[df_cases_distributed_per_gemeinde['Gemeindename'] == gemeinde]['Neue_Faelle_Gemeinde'].shift(1).rolling(14).sum()
    series_einwohner = df_cases_distributed_per_gemeinde[df_cases_distributed_per_gemeinde['Gemeindename'] == gemeinde]['Einwohner']
    series_incidence = (series_rolling_sum / series_einwohner) * 1_000_000

    df_rolling_sum = pd.DataFrame(columns=['Rolling_Sum'])
    df_rolling_sum['Rolling_Sum'] = series_rolling_sum

    df_incidence = pd.DataFrame(columns=['14d_Incidence'])
    df_incidence['14d_Incidence'] = series_incidence


    df_cases_distributed_per_gemeinde.update(df_rolling_sum)
    df_cases_distributed_per_gemeinde.update(df_incidence)

display(df_cases_distributed_per_gemeinde)

Vaz/Obervaz
Lantsch/Lenz
Schmitten (GR)
Albula/Alvra
Surses
Bergün Filisur
Brusio
Poschiavo
Falera
Laax
Sagogn
Schluein
Vals
Lumnezia
Ilanz/Glion
Safiental
Breil/Brigels
Disentis/Mustér
Medel (Lucmagn)
Sumvitg
Tujetsch
Trun
Obersaxen Mundaun
Fürstenau
Rothenbrunnen
Scharans
Sils im Domleschg
Cazis
Flerden
Masein
Thusis
Tschappina
Urmein
Domleschg
Avers
Sufers
Andeer
Rongellen
Zillis-Reischen
Ferrera
Rheinwald
Muntogna da Schons
Bonaduz
Domat/Ems
Rhäzüns
Felsberg
Flims
Tamins
Trin
Zernez
Samnaun
Scuol
Valsot
Val Müstair
Bever
Celerina/Schlarigna
Madulain
Pontresina
La Punt Chamues-ch
Samedan
St. Moritz
S-chanf
Sils im Engadin/Segl
Silvaplana
Zuoz
Bregaglia
Buseno
Castaneda
Rossa
Santa Maria in Calanca
Lostallo
Mesocco
Soazza
Cama
Grono
Roveredo (GR)
San Vittore
Calanca
Davos
Fideris
Furna
Jenaz
Klosters
Conters im Prättigau
Küblis
Luzein
Grüsch
Schiers
Seewis im Prättigau
Chur
Churwalden
Arosa
Tschiertschen-Praden
Trimmis
Untervaz
Zizers
Fläsch
Jenins
Maienfeld
Malans
Landquart

,Einwohner,Gesamtflaeche_in_km2,Gemeindename,Bezirksname,Kanton,Anteil_Flaeche_in_Region,BFS_Nr,Datum,Neue_Faelle_Region,Neue_Faelle_Gemeinde,Rolling_Sum,14d_Incidence
0,2780,42.51,Vaz/Obervaz,Albula,GR,0.062194,3506,2020-02-26,0,0.0,0.0,0
1,2780,42.51,Vaz/Obervaz,Albula,GR,0.062194,3506,2020-02-27,0,0.0,0.0,0
2,2780,42.51,Vaz/Obervaz,Albula,GR,0.062194,3506,2020-02-28,0,0.0,0.0,0
3,2780,42.51,Vaz/Obervaz,Albula,GR,0.062194,3506,2020-02-29,0,0.0,0.0,0
4,2780,42.51,Vaz/Obervaz,Albula,GR,0.062194,3506,2020-03-01,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
45647,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-05-18,6,1.0,5.0,562.492969
45648,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-05-19,1,0.0,6.0,674.991563
45649,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-05-20,3,0.0,6.0,674.991563
45650,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-05-21,2,0.0,5.0,562.492969
45651,8889,18.86,Landquart,Landquart,GR,0.107975,3955,2021-05-22,0,0.0,4.0,449.994375

In [45]:
pd.set_option('display.max_rows', 10)
df_cases_distributed_per_gemeinde[df_cases_distributed_per_gemeinde['Gemeindename'] == 'Chur'].head(200)

,Einwohner,Gesamtflaeche_in_km2,Gemeindename,Bezirksname,Kanton,Anteil_Flaeche_in_Region,BFS_Nr,Datum,Neue_Faelle_Region,Neue_Faelle_Gemeinde,Rolling_Sum,14d_Incidence
40228,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-02-26,0,0.0,0.0,0
40229,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-02-27,0,0.0,0.0,0
40230,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-02-28,4,2.0,0.0,0
40231,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-02-29,0,0.0,0.0,0
40232,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-03-01,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
40423,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-09-08,0,0.0,0.0,0.0
40424,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-09-09,0,0.0,0.0,0.0
40425,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-09-10,1,0.0,0.0,0.0
40426,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-09-11,1,0.0,0.0,0.0
40427,35897,35.68,Chur,Plessur,GR,0.133763,3901,2020-09-12,0,0.0,0.0,0.0

In [57]:
pd.set_option('display.max_rows', None)

In [65]:
df_chur = df_cases_distributed_per_gemeinde[df_cases_distributed_per_gemeinde['Gemeindename'] == 'Chur'][['BFS_Nr', 'Gemeindename', 'Datum', 'Neue_Faelle_Gemeinde', 'Rolling_Sum', '14d_Incidence']]
df_chur.rename(columns={'Gemeindename': 'Gemeinde', 'Neue_Faelle_Gemeinde': 'Neue_Faelle'},inplace=True)
display(df_chur[df_chur['Datum'] > datetime.strptime('2021-05-07', '%Y-%m-%d')])

       BFS_Nr Gemeinde      Datum  Neue_Faelle  Rolling_Sum 14d_Incidence
40665    3901     Chur 2021-05-08          2.0         18.0     501.43466
40666    3901     Chur 2021-05-09          1.0         17.0    473.577179
40667    3901     Chur 2021-05-10          0.0         16.0    445.719698
40668    3901     Chur 2021-05-11          1.0         16.0    445.719698
40669    3901     Chur 2021-05-12          2.0         16.0    445.719698
40670    3901     Chur 2021-05-13          0.0         17.0    473.577179
40671    3901     Chur 2021-05-14          0.0         15.0    417.862217
40672    3901     Chur 2021-05-15          2.0         14.0    390.004736
40673    3901     Chur 2021-05-16          0.0         16.0    445.719698
40674    3901     Chur 2021-05-17          0.0         13.0    362.147255
40675    3901     Chur 2021-05-18          1.0         13.0    362.147255
40676    3901     Chur 2021-05-19          2.0         13.0    362.147255
40677    3901     Chur 2021-05-20          1.0         12.0    334.289774
40678    3901     Chur 2021-05-21          1.0         13.0    362.147255
40679    3901     Chur 2021-05-22          0.0         13.0    362.147255

In [ ]:
pd.set_option('display.max_rows', 10)

## Prepare and save dataframe into DB

In [46]:
df_to_db = df_cases_distributed_per_gemeinde[['BFS_Nr', 'Datum', '14d_Incidence']]
df_to_db.rename(columns={'BFS_Nr':'bfsNr', 'Datum':'date', '14d_Incidence':'incidence'}, inplace=True)

df_to_db

/opt/homebrew/Caskroom/miniconda/base/envs/WODSS/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

       bfsNr       date   incidence
0       3506 2020-02-26           0
1       3506 2020-02-27           0
2       3506 2020-02-28           0
3       3506 2020-02-29           0
4       3506 2020-03-01           0
...      ...        ...         ...
45647   3955 2021-05-18  562.492969
45648   3955 2021-05-19  674.991563
45649   3955 2021-05-20  674.991563
45650   3955 2021-05-21  562.492969
45651   3955 2021-05-22  449.994375

[45652 rows x 3 columns]

In [47]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:postgres@localhost:5432/wodssCantonServiceGR')
# uncomment to import
#df_to_db.to_sql('incidence', engine, if_exists='append', index=False)