In [1]:
import pandas as pd

In [2]:
regionalporträts_2020_kennzahlen_aller_gemeinden ='https://www.bfs.admin.ch/bfsstatic/dam/assets/11587763/master'

In [3]:
regionalporträts_2020_kennzahlen_aller_gemeinden

'https://www.bfs.admin.ch/bfsstatic/dam/assets/11587763/master'

In [5]:
data = pd.read_excel('https://www.bfs.admin.ch/bfsstatic/dam/assets/11587763/master')
data.loc[4].values

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd.

In [8]:
df = pd.DataFrame(data)
df

,Regionalporträts 2020: Gemeinden - Kennzahlen,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,T21.3.1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Bevölkerung,NaN,NaN,NaN,Altersverteilung in %,NaN,NaN,Bevölkerungsbewegung (in ‰),...,Wähleranteile ausgewählter Parteien in % (Nati...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Gemeindecode,Gemeindename,Einwohner,Veränderung in %,Bevölkerungs-dichte pro km²,Ausländer in %,0-19 Jahre,20-64 Jahre,65 Jahre und mehr,Rohe Heiratssziffer,...,FDP 4),CVP,SP,SVP,EVP/CSP,GLP,BDP,PdA/Sol.,GPS,Kleine Rechtsparteien
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2227,"Auskunft: Statistikauskunft, 058 463 60 11, in...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2229,Bundesamt für Statistik,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2230,© BFS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df = df.dropna()
df

,Regionalporträts 2020: Gemeinden - Kennzahlen,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,T21.3.1
4,Gemeindecode,Gemeindename,Einwohner,Veränderung in %,Bevölkerungs-dichte pro km²,Ausländer in %,0-19 Jahre,20-64 Jahre,65 Jahre und mehr,Rohe Heiratssziffer,...,FDP 4),CVP,SP,SVP,EVP/CSP,GLP,BDP,PdA/Sol.,GPS,Kleine Rechtsparteien
8,1,Aeugst am Albis,1982,8.662281,250.5689,13.874874,19.677094,62.764884,17.558022,4.588325,...,16.421045,2.497974,11.565102,30.380959,3.22747,14.317294,1.263724,0.16211,15.050475,3.820647
9,2,Affoltern am Albis,12229,10.260572,1154.76865,28.62867,20.508627,61.329626,18.161747,4.676923,...,13.385437,4.535341,14.645255,30.30692,6.618556,12.666629,2.001445,0.198718,12.590564,1.555518
10,3,Bonstetten,5548,7.540221,746.702557,16.005768,23.666186,60.310022,16.023792,4.159132,...,15.354984,3.867961,16.742891,26.116313,4.194018,16.237935,1.28403,0.176013,12.368531,1.385022
11,4,Hausen am Albis,3701,10.14881,272.132353,15.617401,21.804918,60.686301,17.508781,4.887984,...,11.135163,3.934551,13.711509,33.18478,4.059761,12.416969,1.610747,0.19312,16.744127,1.610747
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2205,6806,Vendlincourt,540,-1.639344,59.016393,7.037037,18.888889,56.296296,24.814815,1.823154,...,19.069767,22.790698,17.906977,21.162791,9.767442,*,*,*,9.302326,*
2206,6807,Basse-Allaine,1230,-5.891354,53.385417,8.211382,21.869919,52.195122,25.934959,3.276003,...,13.757962,40.127389,23.566879,11.719745,3.821656,*,*,*,7.006369,*
2207,6808,Clos du Doubs,1286,1.982554,20.825911,8.320373,18.895801,56.143079,24.96112,3.862495,...,4.482391,33.297759,21.558164,14.300961,10.245464,*,*,*,16.115261,*
2208,6809,Haute-Ajoie,1095,-5.194805,26.752993,7.671233,18.26484,56.347032,25.388128,3.638017,...,8.390023,37.868481,19.387755,18.707483,4.195011,*,*,*,11.451247,*
2209,6810,La Baroche,1162,-2.270816,37.399421,6.282272,21.51463,54.905336,23.580034,1.710864,...,13.773796,27.659574,16.349384,20.268757,9.182531,*,*,*,12.765957,*

In [10]:
df.columns = data.loc[4].values
df = df.iloc[1:]

In [11]:
df

,Gemeindecode,Gemeindename,Einwohner,Veränderung in %,Bevölkerungs-dichte pro km²,Ausländer in %,0-19 Jahre,20-64 Jahre,65 Jahre und mehr,Rohe Heiratssziffer,...,FDP 4),CVP,SP,SVP,EVP/CSP,GLP,BDP,PdA/Sol.,GPS,Kleine Rechtsparteien
8,1,Aeugst am Albis,1982,8.662281,250.5689,13.874874,19.677094,62.764884,17.558022,4.588325,...,16.421045,2.497974,11.565102,30.380959,3.22747,14.317294,1.263724,0.16211,15.050475,3.820647
9,2,Affoltern am Albis,12229,10.260572,1154.76865,28.62867,20.508627,61.329626,18.161747,4.676923,...,13.385437,4.535341,14.645255,30.30692,6.618556,12.666629,2.001445,0.198718,12.590564,1.555518
10,3,Bonstetten,5548,7.540221,746.702557,16.005768,23.666186,60.310022,16.023792,4.159132,...,15.354984,3.867961,16.742891,26.116313,4.194018,16.237935,1.28403,0.176013,12.368531,1.385022
11,4,Hausen am Albis,3701,10.14881,272.132353,15.617401,21.804918,60.686301,17.508781,4.887984,...,11.135163,3.934551,13.711509,33.18478,4.059761,12.416969,1.610747,0.19312,16.744127,1.610747
12,5,Hedingen,3734,9.501466,571.822358,15.854312,21.772898,61.756829,16.470273,3.500269,...,13.990898,3.87366,16.738323,26.601791,3.726851,16.415344,1.881252,0.182463,12.348734,2.170676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2205,6806,Vendlincourt,540,-1.639344,59.016393,7.037037,18.888889,56.296296,24.814815,1.823154,...,19.069767,22.790698,17.906977,21.162791,9.767442,*,*,*,9.302326,*
2206,6807,Basse-Allaine,1230,-5.891354,53.385417,8.211382,21.869919,52.195122,25.934959,3.276003,...,13.757962,40.127389,23.566879,11.719745,3.821656,*,*,*,7.006369,*
2207,6808,Clos du Doubs,1286,1.982554,20.825911,8.320373,18.895801,56.143079,24.96112,3.862495,...,4.482391,33.297759,21.558164,14.300961,10.245464,*,*,*,16.115261,*
2208,6809,Haute-Ajoie,1095,-5.194805,26.752993,7.671233,18.26484,56.347032,25.388128,3.638017,...,8.390023,37.868481,19.387755,18.707483,4.195011,*,*,*,11.451247,*
2209,6810,La Baroche,1162,-2.270816,37.399421,6.282272,21.51463,54.905336,23.580034,1.710864,...,13.773796,27.659574,16.349384,20.268757,9.182531,*,*,*,12.765957,*

In [12]:
df_population_for_bfsNr = df[['Gemeindecode', 'Gemeindename','Einwohner']]
df_population_for_bfsNr.rename(columns={'Gemeindecode':'BFS_Nr'}, inplace=True)
df_population_for_bfsNr.reset_index(inplace=True)

df_population_for_bfsNr = df_population_for_bfsNr.drop(['index'], axis=1)

df_population_for_bfsNr.set_index('BFS_Nr',inplace=True)

/opt/homebrew/Caskroom/miniconda/base/envs/WODSS/lib/python3.9/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [13]:
df_population_for_bfsNr.loc[2333]

Gemeindename    Remaufens
Einwohner            1140
Name: 2333, dtype: object

In [14]:
df_population_for_bfsNr

              Gemeindename Einwohner
BFS_Nr
1          Aeugst am Albis      1982
2       Affoltern am Albis     12229
3               Bonstetten      5548
4          Hausen am Albis      3701
5                 Hedingen      3734
...                    ...       ...
6806          Vendlincourt       540
6807         Basse-Allaine      1230
6808         Clos du Doubs      1286
6809           Haute-Ajoie      1095
6810            La Baroche      1162

[2202 rows x 2 columns]

In [15]:
import fetch_gr as fgr

In [16]:
df_cases = fgr.get_canton_data_df()
df_cases

,Datum,Region,Neue_Faelle,Aktive_Faelle,Faelle__kumuliert_,Verstorbene,Verstorbene__kumuliert_,FID
0,2020-02-26,Albula,0,0,0,0,0,1
1,2020-02-26,Bernina,0,0,0,0,0,2
2,2020-02-26,Engiadina Bassa/Val Müstair,0,0,0,0,0,3
3,2020-02-26,Imboden,0,0,0,0,0,4
4,2020-02-26,Landquart,0,0,0,0,0,5
...,...,...,...,...,...,...,...,...
1995,2020-08-10,Imboden,0,4,50,0,0,1996
1996,2020-08-10,Landquart,0,0,95,0,5,1997
1997,2020-08-10,Maloja,1,4,239,0,9,1998
1998,2020-08-10,Moesa,0,0,85,0,11,1999
1999,2020-08-10,Plessur,2,3,138,0,11,2000

In [17]:
import fetch_municipalities as fmp

In [18]:
df_municipalities = fmp.get_municipalities_df()
df_municipalities

,Gemeindename,Bezirks_Nr,Bezirksname,Kanton,Aufnahmedatum,Aufhebungsdatum,Hist_Nr
BFS_Nr,,,,,,,
3542,Albula/Alvra,1841,Albula,GR,01.01.2017,NaN,16062
3701,Andeer,1851,Viamala,GR,01.01.2017,NaN,16048
3921,Arosa,1848,Plessur,GR,01.01.2017,NaN,16060
3681,Avers,1851,Viamala,GR,01.01.2017,NaN,15984
3781,Bever,1846,Maloja,GR,01.01.2017,NaN,16001
...,...,...,...,...,...,...,...
3714,Rheinwald,1851,Viamala,GR,01.01.2019,NaN,16125
3785,La Punt Chamues-ch,1846,Maloja,GR,01.10.2020,NaN,16586
3901,Chur,1848,Plessur,GR,01.01.2021,NaN,16599
3871,Klosters,1849,Prättigau / Davos,GR,01.01.2021,NaN,16610
3715,Muntogna da Schons,1851,Viamala,GR,01.01.2021,NaN,16598

In [19]:
df_all = pd.merge(df_population_for_bfsNr, df_municipalities , how='inner', left_on='BFS_Nr', right_on='BFS_Nr')
# df_all = df.loc[:,~df.columns.duplicated()]
df_all

,Gemeindename_x,Einwohner,Gemeindename_y,Bezirks_Nr,Bezirksname,Kanton,Aufnahmedatum,Aufhebungsdatum,Hist_Nr
BFS_Nr,,,,,,,,,
3506,Vaz/Obervaz,2780,Vaz/Obervaz,1841,Albula,GR,01.01.2017,NaN,15962
3513,Lantsch/Lenz,535,Lantsch/Lenz,1841,Albula,GR,01.01.2017,NaN,15963
3514,Schmitten (GR),234,Schmitten (GR),1841,Albula,GR,01.01.2017,NaN,15964
3542,Albula/Alvra,1310,Albula/Alvra,1841,Albula,GR,01.01.2017,NaN,16062
3543,Surses,2356,Surses,1841,Albula,GR,01.01.2017,NaN,16068
...,...,...,...,...,...,...,...,...,...
3983,Medel (Lucmagn),362,Medel (Lucmagn),1850,Surselva,GR,01.01.2017,NaN,16040
3985,Sumvitg,1158,Sumvitg,1850,Surselva,GR,01.01.2017,NaN,16041
3986,Tujetsch,1238,Tujetsch,1850,Surselva,GR,01.01.2017,NaN,16042
3987,Trun,1170,Trun,1850,Surselva,GR,01.01.2017,NaN,16056
3988,Obersaxen Mundaun,1188,Obersaxen Mundaun,1850,Surselva,GR,01.01.2017,NaN,16069

In [20]:
df_cases

,Datum,Region,Neue_Faelle,Aktive_Faelle,Faelle__kumuliert_,Verstorbene,Verstorbene__kumuliert_,FID
0,2020-02-26,Albula,0,0,0,0,0,1
1,2020-02-26,Bernina,0,0,0,0,0,2
2,2020-02-26,Engiadina Bassa/Val Müstair,0,0,0,0,0,3
3,2020-02-26,Imboden,0,0,0,0,0,4
4,2020-02-26,Landquart,0,0,0,0,0,5
...,...,...,...,...,...,...,...,...
1995,2020-08-10,Imboden,0,4,50,0,0,1996
1996,2020-08-10,Landquart,0,0,95,0,5,1997
1997,2020-08-10,Maloja,1,4,239,0,9,1998
1998,2020-08-10,Moesa,0,0,85,0,11,1999
1999,2020-08-10,Plessur,2,3,138,0,11,2000

## Mapping von Region auf Bezirksnamen

In [28]:
set_bezirksnamen = set(sorted(df_municipalities['Bezirksname'])) # From Municipality Stammdaten
print(set_bezirksnamen)
print(len(set_bezirksnamen))

{'Engiadina B./Val Müstair', 'Albula', 'Plessur', 'Landquart', 'Imboden', 'Moesa', 'Prättigau / Davos', 'Bernina', 'Viamala', 'Surselva', 'Maloja'}
11

In [29]:
set_regionen = set(sorted(df_cases['Region'])) # From Cases, i.e. the region a case belongs to
print(set_regionen)
print(len(set_regionen))

{'ohne Wohnsitz', 'Albula', 'Plessur', 'Landquart', 'Imboden', 'Moesa', 'Bernina', 'Viamala', 'Engiadina Bassa/Val Müstair', 'Surselva', 'Maloja', 'Prättigau/Davos'}
12

### Was machen wir mit 'ohne Wohnsitz'? 
Um die Kantonszahlen nicht zu verfälschen, müssten sie evtl. auch verteilt werden auf die Bezirke...

In [35]:
# Region (from Cases): Bezirksname (from Municipalities)
dict_bezirks_mapping = {'Albula': 'Albula',
 'Bernina': 'Bernina',
 'Engiadina Bassa/Val Müstair': 'Engiadina B./Val Müstair',
 'Imboden': 'Imboden',
 'Landquart': 'Landquart',
 'Maloja': 'Maloja',
 'Moesa': 'Moesa',
 'Plessur': 'Plessur',
 'Prättigau/Davos': 'Prättigau / Davos',
 'Surselva': 'Surselva',
 'Viamala': 'Viamala'}

Neue Spalte 'Bezirksname' welche anhand 'Region' gemapped wurde:

In [38]:
df_cases['Bezirksname'] = df_cases['Region'].apply(lambda region: dict_bezirks_mapping.get(region))
df_cases

,Datum,Region,Neue_Faelle,Aktive_Faelle,Faelle__kumuliert_,Verstorbene,Verstorbene__kumuliert_,FID,Bezirksname
0,2020-02-26,Albula,0,0,0,0,0,1,Albula
1,2020-02-26,Bernina,0,0,0,0,0,2,Bernina
2,2020-02-26,Engiadina Bassa/Val Müstair,0,0,0,0,0,3,Engiadina B./Val Müstair
3,2020-02-26,Imboden,0,0,0,0,0,4,Imboden
4,2020-02-26,Landquart,0,0,0,0,0,5,Landquart
...,...,...,...,...,...,...,...,...,...
1995,2020-08-10,Imboden,0,4,50,0,0,1996,Imboden
1996,2020-08-10,Landquart,0,0,95,0,5,1997,Landquart
1997,2020-08-10,Maloja,1,4,239,0,9,1998,Maloja
1998,2020-08-10,Moesa,0,0,85,0,11,1999,Moesa
1999,2020-08-10,Plessur,2,3,138,0,11,2000,Plessur

 Nicht gefundene Einträge (z.B. 'ohne Wohnsitz') werden mit None abgefüllt:

In [42]:
df_cases[df_cases['Bezirksname'].isnull()]

,Datum,Region,Neue_Faelle,Aktive_Faelle,Faelle__kumuliert_,Verstorbene,Verstorbene__kumuliert_,FID,Bezirksname
11,2020-02-26,ohne Wohnsitz,2,2,2,0,0,12,None
23,2020-02-27,ohne Wohnsitz,0,2,2,0,0,24,None
35,2020-02-28,ohne Wohnsitz,4,6,6,0,0,36,None
47,2020-02-29,ohne Wohnsitz,0,6,6,0,0,48,None
59,2020-03-01,ohne Wohnsitz,0,6,6,0,0,60,None
...,...,...,...,...,...,...,...,...,...
1943,2020-08-05,ohne Wohnsitz,0,0,65,0,1,1944,None
1955,2020-08-06,ohne Wohnsitz,1,1,66,0,1,1956,None
1967,2020-08-07,ohne Wohnsitz,0,1,66,0,1,1968,None
1979,2020-08-08,ohne Wohnsitz,1,2,67,0,1,1980,None
1991,2020-08-09,ohne Wohnsitz,0,2,67,0,1,1992,None